
ul.uab-tabs a,
ul.uab-tabs li {
    float: left;
    cursor: pointer;
    display: block;
}

.uab-frontend-wrapper {
    text-align: left;
}

.uab-frontend-wrapper a {
    text-decoration: none;
}

.uab-frontend-wrapper .uab-social-action a,
.uab-frontend-wrapper .uab-social-icons a {
    display: inline-block;
}

table {
    text-align: center;
}

.uab-frontend-wrapper img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.uab-frontend-wrapper .uap-profile-image {
    position: relative;
    overflow: hidden;
    /*cursor: pointer;*/
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.uab-frontend-wrapper .uap-profile-image img {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uab-frontend-wrapper .uap-profile-image:hover img {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.uab-frontend-wrapper .uap-profile-image.uap-profile-image-circle:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.uab-frontend-wrapper .uap-profile-image.uap-profile-image-circle img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    border: 0;
}

.uab-frontend-wrapper a {
    max-width: 100%;
    word-wrap: break-word;
}

.uab-frontend-wrapper *:focus {
    outline: 0;
    border: 0;
}

.uab-clearfix:before,
.uab-clearfix:after {
    content: "";
    display: table;
}

.uab-clearfix:after {
    clear: both;
}

.uab-clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.uap-profile-image {
    text-align: center;
}

.uab-frontend-wrapper .uap-profile-image img {
    display: block;
    width: auto;
    margin: 0 auto;
}

.uap-profile-image-circle {
    border-radius: 50%;
}

.uab-frontend-wrapper .uab-co-author-list a,
.uab-frontend-wrapper .uab-defaut-tab a,
.uab-frontend-wrapper .uab-co-author-list a:hover,
.uab-frontend-wrapper .uab-defaut-tab a:hover {
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.uab-social-icons ul,
.uab-social-feed-wrapper .uab-social-feed {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    line-height: 1;
}

.uab-user-website a,
.uab-user-email a,
.uab-user-phone a {
    line-height: 1;
}

.uab-abw-wrapper *,
.uab-abw-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.uab-abw-wrapper .uab-abw-social-wrapper ul li::before {
    display: none !important;
}

.uab-abw-wrapper .uab-abw-social-wrapper ul li {
    padding-left: 0 !important;
}

.uab_widgets_content h4 {
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;
}


/*template-3*/

.uab-abw-wrapper.template-3 {
    /*max-width: 383px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 15px auto;
    text-align: center;
    padding: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    line-height: 1.5;
}

.uab-abw-wrapper.template-3 .uab-abw-name-wrapper {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #555555;
}

.uab-abw-wrapper.template-3 .uab-abw-designation-wrapper {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 500;
}

.uab-abw-wrapper.template-3 .uab-abw-designation-wrapper a {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.uab-abw-wrapper.template-3 .uab-abw-designation-wrapper a:hover {
    color: #5ebdc7;
}

.uab-abw-wrapper.template-3 .uab-abw-description-wrapper {
    font-size: 13px;
    font-weight: 500;
    color: #555;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

.uab-abw-wrapper.template-3 .uab-abw-social-wrapper ul {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.uab-abw-wrapper.template-3 .uab-abw-social-wrapper ul li {
    display: inline-block;
    margin: 3px;
}

.uab-abw-wrapper.template-3 .uab-abw-social-wrapper ul li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #5ebdc7;
    color: #5ebdc7;
    font-size: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uab-abw-wrapper.template-3 .uab-abw-social-wrapper ul li a:hover {
    color: #fff;
    background-color: #5ebdc7;
}

/*template-2*/

.uab-abw-wrapper.template-2 {
    max-width: 383px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    line-height: 1.5;
}

.uab-abw-wrapper.template-2 .uab-abw-name-wrapper {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #555555;
}

.uab-abw-wrapper.template-2 .uab-abw-designation-wrapper {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 500;
}

.uab-abw-wrapper.template-2 .uab-abw-designation-wrapper a {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.uab-abw-wrapper.template-2 .uab-abw-designation-wrapper a:hover {
    color: #5ebdc7;
}

.uab-abw-wrapper.template-2 .uab-abw-image-wrapper {
    margin: 20px 0;
}

.uab-abw-wrapper.template-2 .uab-abw-description-wrapper {
    font-size: 13px;
    font-weight: 500;
    color: #555;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

.uab-abw-wrapper.template-2 .uab-abw-social-wrapper ul {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.uab-abw-wrapper.template-2 .uab-abw-social-wrapper ul li {
    display: inline-block;
    margin: 3px;
}

.uab-abw-wrapper.template-2 .uab-abw-social-wrapper ul li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #5ebdc7;
    color: #5ebdc7;
    font-size: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uab-abw-wrapper.template-2 .uab-abw-social-wrapper ul li a:hover {
    color: #fff;
    background-color: #5ebdc7;
}

/*template 1*/

.uab-abw-wrapper.template-1 {
    max-width: 383px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    background-color: #f2f2f2;
    border: 1px solid #fff;
    line-height: 1.5;
}

.uab-abw-wrapper.template-1 .uab-abw-description-wrapper {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 20px;
}

.uab-abw-wrapper.template-1 .uab-abw-name-wrapper {
    font-size: 18px;
    color: #222;
    font-weight: 600;
    margin-top: 30px;
}

.uab-abw-wrapper.template-1 .uab-abw-designation-wrapper,
.uab-abw-wrapper.template-1 .uab-abw-designation-wrapper a {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #555;
    font-weight: 600;
    line-height: 1.5;
}

.uab-abw-wrapper.template-1 .uab-abw-designation-wrapper a {
    display: block;
    color: #888;
}

.uab-abw-wrapper.template-1 .uab-abw-designation-wrapper a:hover {
    color: #95c41f;
}

.uab-abw-wrapper.template-1 .uab-abw-social-wrapper ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.uab-abw-wrapper.template-1 .uab-abw-social-wrapper li {
    display: inline-block;
    margin: 3px;
}

.uab-abw-wrapper.template-1 .uab-abw-social-wrapper a {
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: #e0e0e0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: block;
    color: #333;
}

.uab-abw-wrapper.template-1 .uab-abw-social-wrapper a:hover {
    background-color: #95c41f;
    color: #fff;
}

.uab-abw-wrapper .template-3 .uap-profile-image img {
    margin-right: 50px;
}

.uab-abw-wrapper .uap-profile-image img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: 200px;
    object-fit: cover;

}

@media (max-width: 560px) {
    .uab-abw-wrapper.template-3 {
        /*max-width: 383px;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 15px auto;
        text-align: center;
        text-align: center;
        padding: 25px;
        background-color: #fff;
        border: 1px solid #ddd;
        line-height: 1.5;
    }

    .uab-abw-wrapper .uap-profile-image img {
        margin-right: auto;
    }
}