.uab-container {
    width: 100%;
    margin: 0 auto;
}

ul.uab-tabs a,
ul.uab-tabs li {
    float: left;
    cursor: pointer;
    display: block;
}

.uab-frontend-wrapper .uab-tab-content {
    display: none;
}

.uab-tab-content.uab-current {
    display: block;
}

.uab-frontend-wrapper {
    text-align: left;
}

.uab-frontend-wrapper div {
    max-width: 100%;
}

.uab-frontend-wrapper a {
    text-decoration: none;
}

.uab-field-wrap label {
    display: block;
}

.uab-frontend-wrapper .uab-social-action a,
.uab-frontend-wrapper .uab-social-icons a {
    display: inline-block;
}

table {
    text-align: center;
}

.uab-front-content .uab-tab-header {
    display: block;
}

.uab-frontend-wrapper audio,
.uab-frontend-wrapper video,
.uab-frontend-wrapper figure {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
    display: block;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    text-decoration: none;
    line-height: 1;
}

.uab-frontend-wrapper img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.uab-frontend-wrapper .uap-profile-image {
    position: relative;
    overflow: hidden;
    /*cursor: pointer;*/
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.uab-frontend-wrapper .uap-profile-image img {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uab-frontend-wrapper .uap-profile-image:hover img {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.uab-frontend-wrapper .uap-profile-image.uap-profile-image-circle:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.uab-frontend-wrapper .uap-profile-image.uap-profile-image-circle img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    border: 0;
}

.uab-frontend-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.uab-frontend-wrapper a {
    max-width: 100%;
    word-wrap: break-word;
}

.uab-frontend-wrapper *:focus {
    outline: 0;
    border: 0;
}

.uab-frontend-wrapper .uab-tabs {
    list-style: none;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    padding-left: 0;
}

.uab-clearfix:before,
.uab-clearfix:after {
    content: "";
    display: table;
}

.uab-clearfix:after {
    clear: both;
}

.uab-clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.uap-profile-image {
    text-align: center;
}

.uab-frontend-wrapper .uap-profile-image img {
    display: block;
    width: auto;
    margin: 0 auto;
}

.uap-profile-image-circle {
    border-radius: 50%;
}

.uab-frontend-wrapper .uab-co-author-list a,
.uab-frontend-wrapper .uab-defaut-tab a,
.uab-frontend-wrapper .uab-co-author-list a:hover,
.uab-frontend-wrapper .uab-defaut-tab a:hover {
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.uab-frontend-wrapper input[type=text],
.uab-frontend-wrapper input[type=email],
.uab-frontend-wrapper input[type=tel],
.uab-frontend-wrapper textarea {
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    border: 0;
}

.uab-frontend-wrapper strong {
    font-weight: bold;
}

.uab-social-icons ul,
.uab-social-feed-wrapper .uab-social-feed {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    line-height: 1;
}

.uab-user-website a,
.uab-user-email a,
.uab-user-phone a {
    line-height: 1;
}

.uab-frontend-wrapper .uab-contact-form-submit input[type=submit] {
    line-height: 1;
}

.uab-tab-header {
    display: block;
}

.uap-contact-form-wrapper {
    display: inline-block;
    width: 100%;
}

.uab-recent-posts ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.uab-recent-posts .uab-post-image {
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
}

.uab-recent-posts .uab-post-image img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uab-recent-posts .post-item-wrapper:hover .uab-post-image img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.uab-social-temp-wrapper-3 .uab-social-header,
.uab-social-temp-wrapper-3 .uab-social-feed {
    float: left;
}

.uab-social-temp-wrapper-3 .uab-social-header {
    width: 20%;
    text-align: center;
}

.uab-social-temp-wrapper-3 .uab-social-image {
    display: inline-block;
    max-width: 200px;
    border: 3px solid #eee;
}

.uab-social-temp-wrapper-3 .uab-title-social-wrapper a,
.uab-social-temp-wrapper-3 .uab-social-header .uab-social-follow a {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-weight: 600;
    line-height: 1.6;
}

.uab-social-temp-wrapper-3 .uab-title-social-wrapper a {
    text-transform: uppercase;
}

.uab-social-temp-wrapper-3 .uab-social-feed {
    width: 80%;
    padding-left: 30px;
}

.uab-social-temp-wrapper-3 .uab-social-feed li {
    margin-top: 30px;
}

.uab-social-temp-wrapper-3 .uab-social-feed li:nth-of-type(1) {
    margin-top: 0;
}

.uab-social-temp-wrapper-3 .uab-title-social-wrapper,
.uab-social-temp-wrapper-3 .uab-social-username-wrapper,
.uab-social-temp-wrapper-3 .uab-social-date {
    display: inline-block;
    margin-right: 10px;
}

.uab-social-temp-wrapper-3 .uab-title-social-wrapper a,
.uab-social-temp-wrapper-3 .uab-social-wrapper-second .uab-social-username-wrapper a,
.uab-social-temp-wrapper-3 .uab-social-date,
.uab-social-temp-wrapper-3 .uab-social-date a {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-weight: 500;
    line-height: 1.6;
}

.uab-social-temp-wrapper-3 .uab-social-wrapper-second .uab-title-social-wrapper a {
    text-transform: uppercase;
}

.uab-social-temp-wrapper-3 .uab-social-content {
    width: 100%;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-weight: 500;
    line-height: 1.6;
    margin: 10px 0;
}

.uab-social-temp-wrapper-3 .uab-social-content a {
    display: inline-block;
    color: #777;
}

.uab-social-temp-wrapper-3 .uab-social-action-wrapper {
    text-align: left;
}

.uab-social-temp-wrapper-3 .uab-social-action-wrapper .uab-social-action {
    display: inline-block;
}

.uab-social-temp-wrapper-3 .uab-social-action-wrapper .uab-social-action a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #bbb;
    font-size: 12px;
    color: #777;
    background: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uab-social-temp-wrapper-3 .uab-social-action-wrapper .uab-social-action a:hover {
    border-color: #000;
    color: #000;
}

.uab-social-temp-wrapper-3 .uab-title-social-wrapper a:hover,
.uab-social-temp-wrapper-3 .uab-social-wrapper-second .uab-social-username-wrapper a:hover,
.uab-social-temp-wrapper-3 .uab-social-follow a:hover {
    color: #777;
}

/*facebook button*/

.uab-frontend-wrapper .uab-facebook-count {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background: #3b5998;
    padding: 1px 1px 1px 5px;
    display: block;
}

.uab-frontend-wrapper .uab-facebook-count i,
.uab-frontend-wrapper .uab-facebook-count svg {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #fff;
    margin-left: 5px;
    font-size: 12px;
    color: #3b5998;
    font-weight: 300;
    padding: 5px;
}

.uab-frontend-wrapper .uap_rss_feed_wrapper ul li .uab-rss-primary .uab-header-wrapper,
.uab-frontend-wrapper .uap_rss_feed_wrapper ul li .uab-rss-primary .uab-header-date-wrapper {
    display: inline-block;
}

.uab-rss-wrapper .uab-rss-inner-wrapper {
    margin-top: 25px;
}

.uab-rss-wrapper .uab-rss-inner-wrapper:nth-of-type(1) {
    margin-top: 0;
}

.uab-frontend-wrapper .uab-rss-feed-title-wrapper,
.uab-frontend-wrapper .uab-rss-feed-date-wrapper {
    margin-bottom: 5px;
}

.uab-rss-feed-title-wrapper a {
    box-shadow: 0 0 0;
    font-size: 14px;
    color: #444444;
    font-weight: bold;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    display: inline-block;
}


.uab-frontend-wrapper .uab-rss-feed-date-wrapper {
    font-family: 'Open Sans', sans-serif;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 500;
}


.uab-frontend-wrapper .uab-rss-feed-description-wrapper {
    color: #444;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.7px;
}


/*----------------------------
RSS Feed css end
------------------------------*/

.uab-frontend-wrapper textarea {
    display: block;
}

.uab-company-wrapper .uab-company-name {
    margin: 10px 0;
}

.uab-company-wrapper .uab-company-name a {
    font-size: 18px;
    color: #222;
}


.uab-author-grid {
    margin: 0 -5px;
}

.uab-author-grid .uab-author-grid-outer {
    display: inline-block;
    margin-right: -4px;
    width: 50%;
    vertical-align: top;
    text-align: center;
    padding: 5px;
}

.uab-author-grid .uab-author-grid-outer a {
    border: 1px solid #ddd;
    display: block;
}

.uab-author-grid.uab-author-full-grid .uab-author-grid-outer {
    width: 25%;
}

.uab-author-grid a .uab-profile-content {
    font-family: 'Open Sans', sans-serif;
    display: block;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uab-author-grid a .uab-profile-content span {
    display: block;
}

.uab-author-grid a:hover .uab-profile-content {
    color: #222;
}

.uab-author-list-wrapper .uab-author-list-outer {
    margin-top: 10px;
}

.uab-author-list-wrapper .uab-author-list-outer:nth-of-type(1) {
    margin-top: 0;
}

.uab-author-list-wrapper .uab-author-list-outer .uab-author-list-image-wrapper,
.uab-author-list-wrapper .uab-author-list-outer .uab-author-list-content-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.uab-author-list-wrapper .uab-author-list-outer .uab-author-list-image-wrapper {
    max-width: 100px;
    text-align: center;
}

.uab-author-list-wrapper .uab-author-list-outer .uab-author-list-content-wrapper {
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    padding-left: 10px;
    text-align: left;
}


.uab-author-slider .slick-slide img {
    display: inline-block;
    width: 100%;
}

.uab-abw-wrapper *,
.uab-abw-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.uab-abw-wrapper .uab-abw-social-wrapper ul li::before {
    display: none !important;
}

.uab-abw-wrapper .uab-abw-social-wrapper ul li {
    padding-left: 0 !important;
}

.uab_widgets_content h4 {
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;
}


/*template-3*/

.uab-abw-wrapper.template-3 {
    /*max-width: 383px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 15px auto;
    text-align: center;
    padding: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    line-height: 1.5;
}

.uab-abw-wrapper.template-3 .uab-abw-name-wrapper {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #555555;
}

.uab-abw-wrapper.template-3 .uab-abw-designation-wrapper {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 500;
}

.uab-abw-wrapper.template-3 .uab-abw-designation-wrapper a {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.uab-abw-wrapper.template-3 .uab-abw-designation-wrapper a:hover {
    color: #5ebdc7;
}

.uab-abw-wrapper.template-3 .uab-abw-description-wrapper {
    font-size: 13px;
    font-weight: 500;
    color: #555;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

.uab-abw-wrapper.template-3 .uab-abw-social-wrapper ul {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.uab-abw-wrapper.template-3 .uab-abw-social-wrapper ul li {
    display: inline-block;
    margin: 3px;
}

.uab-abw-wrapper.template-3 .uab-abw-social-wrapper ul li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #5ebdc7;
    color: #5ebdc7;
    font-size: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uab-abw-wrapper.template-3 .uab-abw-social-wrapper ul li a:hover {
    color: #fff;
    background-color: #5ebdc7;
}

/*template-2*/

.uab-abw-wrapper.template-2 {
    max-width: 383px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    line-height: 1.5;
}

.uab-abw-wrapper.template-2 .uab-abw-name-wrapper {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #555555;
}

.uab-abw-wrapper.template-2 .uab-abw-designation-wrapper {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 500;
}

.uab-abw-wrapper.template-2 .uab-abw-designation-wrapper a {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.uab-abw-wrapper.template-2 .uab-abw-designation-wrapper a:hover {
    color: #5ebdc7;
}

.uab-abw-wrapper.template-2 .uab-abw-image-wrapper {
    margin: 20px 0;
}

.uab-abw-wrapper.template-2 .uab-abw-description-wrapper {
    font-size: 13px;
    font-weight: 500;
    color: #555;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

.uab-abw-wrapper.template-2 .uab-abw-social-wrapper ul {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.uab-abw-wrapper.template-2 .uab-abw-social-wrapper ul li {
    display: inline-block;
    margin: 3px;
}

.uab-abw-wrapper.template-2 .uab-abw-social-wrapper ul li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #5ebdc7;
    color: #5ebdc7;
    font-size: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uab-abw-wrapper.template-2 .uab-abw-social-wrapper ul li a:hover {
    color: #fff;
    background-color: #5ebdc7;
}

/*template 1*/

.uab-abw-wrapper.template-1 {
    max-width: 383px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    background-color: #f2f2f2;
    border: 1px solid #fff;
    line-height: 1.5;
}

.uab-abw-wrapper.template-1 .uab-abw-description-wrapper {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 20px;
}

.uab-abw-wrapper.template-1 .uab-abw-name-wrapper {
    font-size: 18px;
    color: #222;
    font-weight: 600;
    margin-top: 30px;
}

.uab-abw-wrapper.template-1 .uab-abw-designation-wrapper,
.uab-abw-wrapper.template-1 .uab-abw-designation-wrapper a {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #555;
    font-weight: 600;
    line-height: 1.5;
}

.uab-abw-wrapper.template-1 .uab-abw-designation-wrapper a {
    display: block;
    color: #888;
}

.uab-abw-wrapper.template-1 .uab-abw-designation-wrapper a:hover {
    color: #95c41f;
}

.uab-abw-wrapper.template-1 .uab-abw-social-wrapper ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.uab-abw-wrapper.template-1 .uab-abw-social-wrapper li {
    display: inline-block;
    margin: 3px;
}

.uab-abw-wrapper.template-1 .uab-abw-social-wrapper a {
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: #e0e0e0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: block;
    color: #333;
}

.uab-abw-wrapper.template-1 .uab-abw-social-wrapper a:hover {
    background-color: #95c41f;
    color: #fff;
}

.uab-abw-wrapper .template-3 .uap-profile-image img {
    margin-right: 50px;
}

.uab-abw-wrapper .uap-profile-image img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: 200px;
    object-fit: cover;

}

.uab-abw-wrapper img.avatar,
.uap-profile-image img.avatar,
.uab-author-slider img.avatar,
.uab-author-side-grid img.avatar,
.uab-author-full-grid img.avatar,
.uab-author-list-wrapper img.avatar {
    float: none;
    border-radius: 0;
}

.uab-author-grid .uab-author-grid-outer a {
    border: 0;
    display: block;
}

.uab-author-grid.uab-author-full-grid .uab-author-grid-outer {
    width: 25%;
}

@media only screen and (max-width: 992px) {
    .uab-author-grid.uab-author-full-grid .uab-author-grid-outer {
        width: 16.33%;
    }
}

@media only screen and (max-width: 768px) {
    .uab-author-grid.uab-author-full-grid .uab-author-grid-outer {
        width: 29%;
    }
}

@media only screen and (max-width: 640px) {
    .uab-author-grid.uab-author-full-grid .uab-author-grid-outer {
        width: 35%;
    }
}

.UAB_Author_List_Widget .uab-profile-content {
    text-align: left;
    margin-bottom: 10px;
    padding-left: 5px;
}

/* Co Author Styles */
.uab-frontend-wrapper-outer label.uab-co-author-header {
    display: block;
    padding: 10px 0px;
    text-transform: capitalize;
}

.uab-co-author-list .uab-author-profile-pic {
    width: 100px;
    display: inline-block;
}

.uab-co-author-list .uab-display-name a {
    font-size: 18px;
}

.uab-co-author-list .uab-co-author-individual {
    min-height: 90px;
    margin-bottom: 20px;
    padding: 10px 0;
    overflow: unset;
}

.uab-co-author-list .uab-co-author-individual:last-child {
    /*margin-bottom: 0;*/
    padding-bottom: 0;
}


.uab-co-author-list .uab-co-author-display-name a,
.uab-co-author-list .uab-co-author-company {
    font-size: 15px;
}

.uab-co-author-individual .uab-social-icons {
    margin-top: 5px;
}


.uab-frontend-wrapper .uap-co-author-image.uap-co-author-image-circle,
.uab-frontend-wrapper .uap-co-author-image.uap-co-author-image-circle img {
    border-radius: 50%;
}


.uab-co-author-grid label.uab-co-author-header {
    text-align: center;
    padding: 20px 0;
}


.uab-frontend-wrapper .uap-co-author-image {
    width: 150px;
}

/* LInkedin Styles */
.uab-linkedin-profile-wrapper {
    min-height: 350px;
    padding: 0px 35px;
}

.uab-linkedin-profile-wrapper .uab-linkedin-profile-picture img.uab-linkedin-profile-img {
    width: 140px;
    transition: .8s transform;
    transform: scale(1);
}

.uab-linkedin-basic .uab-linkedin-profile-picture:hover img {
    transition: .8s transform;
    transform: scale(1.01);
}

.uab-linkedin-profile-wrapper .uab-linkedin-profile-summary {
    text-align: justify;
}

.uab-linkedin-profile-wrapper .uab-linkedin-basic .uab-linkedin-general {
    display: inline-block;
    width: calc(100% - 165px);
    margin-left: 25px;
}

.uab-linkedin-profile-wrapper .uab-linkedin-basic {
    min-height: 200px;
}

.uab-linkedin-profile-wrapper .uab-linkedin-profile-picture:before {
    content: "\f0e1";
    position: absolute;
    font-family: Fontawesome;
    background: #3c98ca;
    color: white;
    padding: 3px 8px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    right: -10px;
    top: -10px;
    z-index: 1;
    font-weight: 100;
    font-size: 15px;
}

.uab-linkedin-profile-wrapper .uab-linkedin-basic .uab-linkedin-profile-picture {
    display: inline-block;
    position: relative;
    float: left;
}


.uab-linkedin-company-list span.uab-linkedin-company-name {
    display: block;
}

.uab-linkedin-profile-picture .uab_country_logo {
    width: 25px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    background: #efeeee;
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 4px;
}

.uab-linkedin-profile-picture span.uab_country_logo {
    line-height: 15px;
    text-transform: uppercase;
    padding: 5px 4px;
    font-size: 11px;
    font-weight: 600;
    color: #3c98ca;
    height: 25px;
}

.uab-linkedin-company-list .uab-linkedin-company > span {
    display: block;
}


.uab-co-author-grid .uab-co-author-individual {
    width: 33%;
    float: left;
    text-align: center;
    padding: 0 10px;
}

/* linkedin design here */

.uab-linkedin-profile-wrapper .uab-linkedin-profile-summary {
    margin-top: 20px;
}

.uab-linkedin-profile-wrapper .uab-linkedin-company {
    margin-top: 20px;
}

.uab-co-author-list,
.uab-co-author-grid {
    margin-top: 50px;
    border-top: 1px solid #d5d5d5;
}

/* widget author list section design here */


.UAB_Author_List_Widget .uab-author-list-content-header-wrapper .uab-widget-popup,
.UAB_Author_List_Widget .uab-profile-content .uab-widget-popup {
    font-weight: 600;
}

.UAB_Author_List_Widget .uab-profile-content .uab-post-title-wrapper,
.UAB_Author_List_Widget .uab-profile-content div.uab-info {
    font-size: 14px;
}

/* co author refinement css hre */

.uap-co-author-image {
    display: inline-block;
}


.wppts-toggle-icon .fa-list::before {
    content: "\f013";
    font-size: 14px;
}

.wppts-toggle-icon span {
    font-size: 14px;
}

/* grid refinement css here */

.uab-linkedin-profile-wrapper .uab-linkedin-company-list label {
    margin: 0 0 20px;
    display: block;
    font-weight: 600;
}


.uab-linkedin-profile-wrapper .uab-linkedin-company-list {
    border-top: 1px solid #d5d5d5;
    margin-top: 40px;
    padding-top: 40px;
}

img.uab-linkedin-country-img {
    width: 10px;
    display: inline-block;
    margin-left: 5px;
}

@media screen and (max-width: 900px) {
    .uab-linkedin-profile-wrapper .uab-linkedin-basic .uab-linkedin-general {
        width: 100%;
        margin-left: 0;
        margin-top: 25px;
    }

    .uab-linkedin-profile-wrapper {
        padding: 0;
    }
}


/* tariq refinement here */

.uab-author-slider-item .uab-profile-content div.uab-info,
.uab-author-slider-item .uab-profile-content .uab-post-title-wrapper a {
    color: #777;
}


.uab-author-grid-outer div.uab-info,
.uab-author-grid-outer .uab-post-title-wrapper a,
.uab-author-list-outer div.uab-info,
.uab-author-list-outer .uab-post-title-wrapper a {
    font-size: 14px;
    color: #777;
}

@media (max-width: 560px) {
    .uab-abw-wrapper.template-3 {
        /*max-width: 383px;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 15px auto;
        text-align: center;
        text-align: center;
        padding: 25px;
        background-color: #fff;
        border: 1px solid #ddd;
        line-height: 1.5;
    }

    .uab-abw-wrapper .uap-profile-image img {
        margin-right: auto;
    }
}