.uab-template-19 {
    display: table;
    border: 1px solid #dcdbdd;
    background-color: #fff;
    background-image: url(../images/template-19-bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.uab-template-19 #uab-tab-index-wrapper,
.uab-template-19 .uab-content-temp-wrapper {
    display: table-cell;
    vertical-align: top;
}

.uab-template-19 #uab-tab-index-wrapper {
    width: 222px;
    background: #61a599;
}

.uab-template-19 .uab-content-temp-wrapper {
    width: -webkit-calc(100% - 222px);
    width: calc(100% - 222px);
    padding: 40px 18px 35px;
}

.uab-template-19 ul.uab-tabs a,
.uab-template-19 ul.uab-tabs li {
    float: none;
    border-bottom: 1px solid #7fb4aa;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding: 17px 10px 17px 23px;
}

.uab-template-19 ul.uab-tabs li.uab-current {
    background: #fff;
    color: #3a3a3a;
}

.uab-template-19 ul.uab-tabs li.uab-current:before {
    color: #61a599;
}

.uab-template-19 .uab_external_link_tab:before,
.uab-template-19 .uab_author_detail:before,
.uab-template-19 .uab_author_post:before,
.uab-template-19 .uab_company_description:before,
.uab-template-19 .uab_contact_form:before,
.uab-template-19 .uab_twitter_feeds:before,
.uab-template-19 .uab_rss_feeds:before,
.uab-template-19 .uab_facebook_feeds:before,
.uab-template-19 .uab_shortcode:before,
.uab-template-19 .uab_editor:before,
.uab-template-19 .uab_widget:before,
.uab-template-19 .uab_linkedin_profile:before {
    position: relative;
    display: inline-block;
    font-family: Fontawesome;
    text-align: center;
    margin-right: 10px;
}

.uab-template-19 .uab_widget:before {
    content: "\f210";
}

.uab-template-19 .uab_author_detail:before {
    content: "\f007";
}

.uab-template-19 .uab_external_link_tab:before {
    content: "\f08e";
}

.uab-template-19 .uab_author_post:before {
    content: "\f1ea";
}

.uab-template-19 .uab_company_description:before {
    content: "\f19c";
}

.uab-template-19 .uab_contact_form:before {
    content: "\f0e0";
}

.uab-template-19 .uab_twitter_feeds:before {
    content: "\f099";
}

.uab-template-19 .uab_rss_feeds:before {
    content: "\f09e";
}

.uab-template-19 .uab_facebook_feeds:before {
    content: "\f09a";
}

.uab-template-19 .uab_shortcode:before {
    content: "\f135";
}

.uab-template-19 .uab_editor:before {
    content: "\f022";
}

.uab-template-19 .uab-author-profile-pic {
    margin-top: -10px;
    width: 22%;
}

.uab-template-19 .uab-front-content {
    width: 78%;
    padding-left: 40px;
}

.uab-template-19 .uab-author-profile-pic,
.uab-template-19 .uab-front-content {
    float: left;
}

.uab-template-19 .uap-profile-image {
    width: 192px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.uab-template-19 .uap-profile-image.uap-profile-image-square {
    background: url(../images/profile-img-19-bg.png) 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 195px;
    padding: 30px 20px;
}

.uab-template-19 .uap-profile-image.uap-profile-image-square img {
    max-width: 100%;
    max-height: 180px;
    position: relative;
}

.uab-template-19 .uab-company-info,
.uab-template-19 .uab-company-info span,
.uab-template-19 .uab-company-info a {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #434343;
    text-transform: uppercase;
}

.uab-template-19 .uab-company-info {
    margin-bottom: 8px;
}

.uab-template-19 .uab-company-info span,
.uab-template-19 .uab-company-info a {
    display: inline-block;
    margin-bottom: 1px;
}

.uab-template-19 .uab-display-name {
    margin-bottom: 18px;
}

.uab-template-19 .uab-display-name span:not(.uab-user-role),
.uab-template-19 .uab-display-name a {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #434343;
    display: inline-block;
}

.uab-template-19 .uab-social-icons {
    margin-bottom: 17px;
}

.uab-template-19 .uab-social-icons ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.uab-template-19 .uab-social-icons ul li a {
    font-size: 20px;
    color: #61a599;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uab-template-19 .uab-social-icons ul li a:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.uab-template-19 .uab-num-post-count,
.uab-template-19 .uab-linkedin-basic,
.uab-template-19 .uab-short-info {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}

.uab-template-19 .uab-num-post-count {
    margin-bottom: 0px;
}

.uab-template-19 .uab-short-contact .uab-contact-inner {
    display: block;
    margin-bottom: 5px;
    max-width: 100%;
    word-wrap: break-word;
}

.uab-template-19 .uab-short-contact .uab-contact-inner:nth-of-type(1) {
    margin-left: 0px;
}

.uab-template-19 .uab-user-website a,
.uab-template-19 .uab-user-email a,
.uab-template-19 .uab-user-phone a {
    color: #333;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: relative;
    padding-left: 25px;
    max-width: 100%;
    word-wrap: break-word;
}

.uab-template-19 .uab-user-website a:before,
.uab-template-19 .uab-user-email a:before,
.uab-template-19 .uab-user-phone a:before {
    position: absolute;
    top: 1px;
    left: 0;
    font-family: Fontawesome;
    display: inline-block;
    margin-right: 7px;
    width: 20px;
    color: #333;
}

.uab-template-19 .uab-user-website a:before {
    content: "\f0ac";
}

.uab-template-19 .uab-user-email a:before {
    content: "\f003";
}

.uab-template-19 .uab-user-phone a:before {
    content: "\f095";
}

.uab-template-19 .uab-display-name span:not(.uab-user-role):hover,
.uab-template-19 .uab-company-info a:hover,
.uab-template-19 .uab-display-name a:hover,
.uab-template-19 .uab-user-website a:hover,
.uab-template-19 .uab-user-email a:hover,
.uab-template-19 .uab-user-phone a:hover {
    color: #61a599;
}

.uab-template-19 .uab-short-info a {
    color: #61a599;
}

/*template 19 recent post*/

.uab-template-19 .uab-recent-posts ul li {
    margin-top: 30px;
}

.uab-template-19 .uab-recent-posts ul li:nth-of-type(1) {
    margin-top: 0px;
}

.uab-template-19 .uab-post-first-wrapper,
.uab-template-19 .uab-post-second-wrapper {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.uab-template-19 .uab-post-first-wrapper {
    width: 20%;
}

.uab-template-19 .uab-post-second-wrapper {
    width: 80%;
    padding-left: 40px;
}

.uab-template-19 .uab-recent-posts .uab-post-image {
    max-width: 192px;
    width: 100%;
    margin: 0 auto;
}

.uab-template-19 .uab-post-title-wrapper {
    margin-bottom: 10px;
}

.uab-template-19 .uab-post-title-wrapper a {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #434343;
    display: inline-block;
}

.uab-template-19 .uap-post-author-name,
.uab-template-19 .uap-post-date {
    display: inline-block;
}

.uab-template-19 .uap-post-author-name {
    margin-right: 10px;
}

.uab-template-19 .uap-post-author-name span,
.uab-template-19 .uap-post-author-name a,
.uab-template-19 .uap-post-date {
    font-size: 13px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}

.uab-template-19 .uab-post-title-wrapper a:hover,
.uab-template-19 .uap-post-author-name span:hover,
.uab-template-19 .uap-post-author-name a:hover {
    color: #61a599;
}

.uab-template-19 .uab-post-excerpt-wrapper,
.uab-template-19 .uab-post-excerpt-wrapper p {
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.6;
}

.uab-template-19 .uap-contact-form-wrapper {
    padding: 0 20px 20px 20px;
}

.uab-template-19 .uab-contact-first-wrapper,
.uab-template-19 .uab-contact-second-wrapper {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.uab-template-19 .uab-contact-first-wrapper {
    padding-right: 13px;
}

.uab-template-19 .uab-contact-second-wrapper {
    padding-left: 13px;
}

.uab-template-19 .uab-field-wrap input[type=text],
.uab-template-19 .uab-field-wrap input[type=email],
.uab-template-19 .uab-field-wrap input[type=tel] {
    height: 39px;
    padding: 0 10px;
}

.uab-template-19 .uab-field-wrap textarea.uab-message-field {
    height: 157px;
    resize: none;
    padding: 10px;
}

.uab-template-19 .uab-field-wrap input[type=text],
.uab-template-19 .uab-field-wrap input[type=email],
.uab-template-19 .uab-field-wrap input[type=tel],
.uab-template-19 .uab-field-wrap textarea.uab-message-field {
    border: 1px solid #ececec;
    width: 100%;
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-top: 20px;
}

.uab-template-19 .uab-contact-form-submit input[type=submit] {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    background: #61a599;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    height: 39px;
    line-height: 39px;
    -webkit-transition: all 0.5 ease;
    transition: all 0.5 ease;
}

.uab-template-19 .uab-field-wrap input::-moz-placeholder,
.uab-template-19 textarea.uab-message-field::-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.uab-template-19 .uab-field-wrap input:-ms-input-placeholder,
.uab-template-19 textarea.uab-message-field:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.uab-template-19 .uab-field-wrap input::-webkit-input-placeholder,
.uab-template-19 textarea.uab-message-field::-webkit-input-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.uab-template-19 .uab-linkedin-company-list span.uab-linkedin-company-name:hover,
.uab-template-19 .uab-co-author-individual .uab-co-author-display-name a:hover,
.uab-template-19 .uab-linkedin-general .uab-linkedin-profile-name a:hover {
    color: #61a599;
}

.uab-template-19 span.uab-co-author-company-link a:hover {
    color: #61a599;
}

.uab-template-19 .uab-co-author-grid label.uab-co-author-header {
    padding: 25px 0 30px;
}

.uab-template-19 .uab-co-author-grid .uab-author-profile-pic {
    width: 100%;
}

.uab-template-19 .uab-co-author-individual .uab-co-author-display-name a,
.uab-template-19 .uab-linkedin-general .uab-linkedin-profile-name a,
.uab-template-19 .uab-linkedin-company-list span.uab-linkedin-company-name {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #434343;
    display: inline-block;
}

.uab-template-19 .uab-co-author-work span,
.uab-template-19 .uab-co-author-work span a,
.uab-template-19 .uab-linkedin-profile-wrapper .uab-linkedin-profile-headline {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #434343;
    text-transform: uppercase;
}

.uab-template-19 .uab-co-author-list .uab-co-author-description {
    display: inline-block;
    width: calc(100% - 110px);
    margin-left: 10px;
}

.uab-template-19 label.uab-co-author-header {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #434343;
    padding: 15px 0px;
}

.uab-template-19 .uab-co-author-list,
.uab-template-19 .uab-co-author-grid,
.uab-template-19 .uab-linkedin-profile-wrapper .uab-linkedin-company-list {
    border-top-color: #61a599;
}

@media screen and (max-width: 1600px) {
    .uab-template-19 .uab-linkedin-profile-wrapper .uab-linkedin-basic .uab-linkedin-general {
        width: 100%;
        margin-left: 0;
        margin-top: 25px;
    }
}

.uab-template-19.uab-frontend-wrapper .uab-facebook-count {
    background: #61a599;
}

.uab-template-19.uab-frontend-wrapper .uab-facebook-count i,
.uab-template-19.uab-frontend-wrapper .uab-facebook-count svg {
    color: #61a599;
}

.uab-template-19 .uab-rss-feed-title-wrapper a:hover {
    color: #61a599;
}

.uab-template-19 .uab_linkedin_profile:before {
    content: "\f0e1";
}

.uab-template-19 .uab-linkedin-company-list span.uab-linkedin-company-name {
    display: block;
}