.uab-template-8 .uab-tabs {
    background: #e84f89;
}

.uab-template-8 .uab-tabs a,
.uab-template-8 .uab-tabs li {
    padding: 19px 24px;
    color: #fff;
    font-size: 27px;
    font-weight: 300;
    font-family: 'Italianno', cursive;
    position: relative;
}

.uab-template-8 .uab-tabs li.uab-current:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #fff transparent;
}

.uab-template-8 .uab_external_link_tab:before,
.uab-template-8 .uab_author_detail:before,
.uab-template-8 .uab_author_post:before,
.uab-template-8 .uab_company_description:before,
.uab-template-8 .uab_contact_form:before,
.uab-template-8 .uab_twitter_feeds:before,
.uab-template-8 .uab_rss_feeds:before,
.uab-template-8 .uab_facebook_feeds:before,
.uab-template-8 .uab_shortcode:before,
.uab-template-8 .uab_editor:before,
.uab-template-8 .uab_widget:before,
.uab-template-8 .uab_linkedin_profile:before {
    position: relative;
    display: inline-block;
    font-family: Fontawesome;
    text-align: center;
    margin-right: 10px;
    font-size: 17px;
}

.uab-template-8 .uab_widget:before {
    content: "\f210";
}

.uab-template-8 .uab_author_detail:before {
    content: "\f007";
}

.uab-template-8 .uab_external_link_tab:before {
    content: "\f08e";
}

.uab-template-8 .uab_author_post:before {
    content: "\f1ea";
}

.uab-template-8 .uab_company_description:before {
    content: "\f19c";
}

.uab-template-8 .uab_contact_form:before {
    content: "\f0e0";
}

.uab-template-8 .uab_twitter_feeds:before {
    content: "\f099";
}

.uab-template-8 .uab_rss_feeds:before {
    content: "\f09e";
}

.uab-template-8 .uab_facebook_feeds:before {
    content: "\f09a";
}

.uab-template-8 .uab_shortcode:before {
    content: "\f135";
}

.uab-template-8 .uab_editor:before {
    content: "\f022";
}

.uab-template-8 .uab-tab-content {
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #ececec;
    background: #fff;
}

.uab-template-8 .uap-profile-image {
    width: 158px;
    max-width: 100%;
    overflow: hidden;
}

.uab-template-8 .uab-content-header,
.uab-template-8 .uab-content-temp-wrapper {
    float: left;
}

.uab-template-8 .uab-content-header {
    width: 20%;
}

.uab-template-8 .uab-content-temp-wrapper {
    padding-left: 20px;
    width: 80%;
}

.uab-template-8 .uab-content-mid-inner-1 {
    float: left;
    max-width: 40%;
}

.uab-template-8 .uab-content-mid-inner-2 {
    float: right;
    max-width: 60%;
}

.uab-template-8 .uab-display-name {
    margin-bottom: 8px;
}

.uab-template-8 .uab-display-name span:not(.uab-user-role),
.uab-template-8 .uab-display-name a {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Italianno', cursive;
    color: #e84f89;
    line-height: 1;
}

.uab-template-8 .uab-company-info {
    margin-bottom: 13px;
}

.uab-template-8 .uab-company-info span,
.uab-template-8 .uab-company-info a {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    color: #8c8b8b;
    text-transform: uppercase;
}

.uab-template-8 .uab-company-info span {
    display: block;
}

.uab-template-8 .uab-company-info a {
    display: inline-block;
}

.uab-template-8 .uab-company-info a:hover {
    color: #e84f89;
}

.uab-template-8 .uab-company-info span + a {
    margin-top: 5px;
}

.uab-template-8 .uab-num-post-count,
.uab-template-8 .uab-linkedin-basic,
.uab-template-8 .uab-short-info {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    color: #666666;
    line-height: 1.5;
}

.uab-template-8 .uab-social-icons ul li {
    display: inline-block;
    position: relative;
    margin: 1px 0 1px 5px;
}

.uab-template-8 .uab-social-icons ul li a {
    font-size: 16px;
    color: #606060;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.uab-template-8 .uab-frontend-tooltip {
    position: absolute;
    z-index: 9;
    top: 105%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    background: #e84f89;
    color: #fff;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    padding: 2px 3px;
    border-radius: 3px;
    margin-top: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    white-space: nowrap;
    max-width: initial;
}

.uab-template-8 ul li a:hover + .uab-frontend-tooltip {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.uab-template-8 .uab-short-info a {
    color: #e84f89;
}

/*template-8 recent post*/

.uab-template-8 .uab-recent-posts ul li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0px -4px 17px 0;
}

.uab-template-8 .uab-recent-posts ul li:nth-of-type(2n+1) {
    padding-right: 30px;
}

.uab-template-8 .uab-recent-posts ul li:nth-of-type(2n) {
    padding-left: 30px;
}

.uab-template-8 .uab-post-first-wrapper,
.uab-template-8 .uab-post-second-wrapper {
    float: left;
}

.uab-template-8 .uab-post-first-wrapper {
    width: 30%;
}

.uab-template-8 .uab-post-second-wrapper {
    width: 70%;
    padding-left: 15px;
}

.uab-template-8 .uab-post-image {
    width: 142px;
    max-width: 100%;
}

.uab-template-8 .uab-post-title-wrapper a {
    display: inline-block;
    color: #e84f89;
    font-size: 34px;
    font-weight: 500;
    line-height: 1;
    font-family: 'Italianno', cursive;
}

.uab-template-8 .uab-post-excerpt-wrapper,
.uab-template-8 .uab-post-excerpt-wrapper p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    color: #797979;
    line-height: 1.5;
}

.uab-template-8 .uab-contact-first-wrapper .uab-field-wrap {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.uab-template-8 .uab-field-wrap {
    margin-bottom: 22px;
}

.uab-template-8 .uab-contact-first-wrapper .uab-field-wrap:nth-of-type(2n) {
    padding-left: 10px;
}

.uab-template-8 .uab-contact-first-wrapper .uab-field-wrap:nth-of-type(2n+1) {
    padding-right: 10px;
}

.uab-template-8 .uab-field-wrap .uab-field {
    position: relative;
}

.uab-template-8 .uab-field-wrap input[type=text],
.uab-template-8 .uab-field-wrap input[type=email],
.uab-template-8 .uab-field-wrap input[type=tel] {
    height: 44px;
    padding: 0 10px 0 44px;
}

.uab-template-8 .uab-field-wrap input[type=text],
.uab-template-8 .uab-field-wrap input[type=email],
.uab-template-8 .uab-field-wrap input[type=tel],
.uab-template-8 .uab-field-wrap textarea.uab-message-field {
    border: 1px solid #c7c7c9;
    width: 100%;
    font-family: Lato, sans-serif;
    color: #858585;
    background-color: #efeeee;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.uab-template-8 .uab-field-wrap textarea.uab-message-field {
    height: 180px;
    resize: none;
    padding: 10px;
    padding-left: 44px;
}

.uab-template-8 .uab-field-wrap .uab-field i,
.uab-template-8 .uab-field-wrap .uab-field svg {
    position: absolute;
    width: 42px;
    text-align: center;
    background: #efeeee;
    height: 20px;
    line-height: 41px;
    border: 0;
    left: 1px;
    top: 5px;
    bottom: 1px;
    font-size: 14px;
    color: #858585;
}

.uab-template-8 .uab-contact-form-submit input[type=submit] {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #e84f89;
    padding: 17px 25px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.uab-template-8 .uab-contact-form-submit input[type=submit]:hover {
    background: #f62876;
}

.uab-template-8 .uap-success-message {
    text-align: center;
    font-size: 14px;
    color: #51c18b;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
}

.uab-template-8 .uab-linkedin-company-list span.uab-linkedin-company-name:hover,
.uab-template-8 .uab-co-author-individual .uab-co-author-display-name a:hover,
.uab-template-8 .uab-linkedin-general .uab-linkedin-profile-name a:hover {
    color: #e84f89;
}

.uab-template-8 span.uab-co-author-company-link a:hover {
    color: #e84f89;
}

.uab-template-8 .uab-co-author-individual .uab-co-author-display-name a,
.uab-template-8 .uab-linkedin-general .uab-linkedin-profile-name a,
.uab-template-8 .uab-linkedin-company-list span.uab-linkedin-company-name {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Italianno', cursive;
    color: #e84f89;
    line-height: 1;
}

.uab-template-8 .uab-co-author-work span,
.uab-template-8 .uab-co-author-work span a,
.uab-template-8 .uab-linkedin-profile-wrapper .uab-linkedin-profile-headline {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    color: #8c8b8b;
    text-transform: uppercase;
}

.uab-template-8 .uab-co-author-list .uab-co-author-description {
    display: inline-block;
    width: calc(100% - 115px);
    margin-left: 10px;
    float: right;
}

.uab-template-8 label.uab-co-author-header {
    padding: 10px 5px;
    color: #e84f89;
    font-size: 28px;
    font-weight: 300;
    font-family: 'Italianno', cursive;
}

.uab-template-8.uab-frontend-wrapper .uab-facebook-count {
    background: #e84f89;
}

.uab-template-8.uab-frontend-wrapper .uab-facebook-count i,
.uab-template-8.uab-frontend-wrapper .uab-facebook-count svg {
    color: #e84f89;
}

.uab-template-8 .uab-rss-feed-title-wrapper a:hover {
    color: #e84f89;
}

.uab-template-8 .uab_linkedin_profile:before {
    content: "\f0e1";
}