.uab-template-15 {
    background: #12aee1;
    padding: 80px 40px;
}

.uab-template-15 .uab-tabs {
    margin-bottom: 45px;
}

.uab-template-15 .uab-tabs a,
.uab-template-15 .uab-tabs li {
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    font-weight: 600;
    color: #0d87af;
    padding: 25px 17px;
    min-width: 150px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    text-transform: uppercase;
    margin-right: 15px;
    background-color: #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-top: 2px;
}

.uab-template-15 .uab-tabs li.uab-current {
    -webkit-box-shadow: 6px 6px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 2px 2px rgba(0, 0, 0, 0.3);
}

.uab-template-15 .uab-author-profile-pic,
.uab-template-15 .uab-front-content {
    float: left
}

.uab-template-15 .uab-author-profile-pic {
    width: 20%;
}

.uab-template-15 .uap-profile-image {
    width: 210px;
    max-width: 100%;
    overflow: hidden;
}

.uab-template-15 .uap-profile-image.uap-profile-image-square {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 6px 6px 2px 2px #109cca;
    box-shadow: 6px 6px 2px 2px #109cca;
}

.uab-template-15 .uab-front-content {
    width: 80%;
    padding-left: 22px;
}

.uab-template-15 .uab-display-name span:not(.uab-user-role),
.uab-template-15 .uab-display-name a {
    font-family: 'Schoolbell', cursive;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.uab-template-15 .uab-display-name,
.uab-template-15 .uab-company-info {
    margin-bottom: 5px;
}

.uab-template-15 .uab-company-info,
.uab-template-15 .uab-company-info span,
.uab-template-15 .uab-company-info a {
    color: #d4f4ff;
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    font-weight: 400;
}

.uab-template-15 .uab-company-info span,
.uab-template-15 .uab-company-info a {
    display: inline-block;
    margin-bottom: 2px;
}

.uab-template-15 .uab-linkedin-basic,
.uab-template-15 .uab-short-info,
.uab-template-15 .uab-short-info a {
    color: #fff;
    font-family: 'Schoolbell', cursive;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.3;
}

.uab-template-15 .uab-short-contact {
    position: relative;
    padding-left: 122px;
    clear: both;
    display: table;
    margin-bottom: 15px;
    color: #fff;
    width: 100%;
    font-family: 'Schoolbell', cursive;
}

.uab-template-15 .uab-short-contact span.uab-contact-label {
    display: inline-block;
    vertical-align: top;
    font-family: 'Schoolbell', cursive;
    font-size: 22px;
    font-weight: 400;
}

.uab-template-15 .uab-short-contact span.uab-contact-label {
    color: #d4f4ff;
    margin-right: 19px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 122px;
    padding-right: 10px;
}

.uab-template-15 .uab-short-contact div.uab-contact-inner {
    position: relative;
    padding-left: 22px;
    padding-right: 22px;
    float: left;
}

.uab-template-15 .uab-contact-inner {
    margin-bottom: 15px;
}

.uab-template-15 .uab-user-website a,
.uab-template-15 .uab-user-email a,
.uab-template-15 .uab-user-phone a {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    font-family: 'Schoolbell', cursive;
    font-size: 22px;
    font-weight: 400;
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.uab-template-15 .uab-short-contact div.uab-contact-inner:nth-of-type(1) {
    padding-left: 0px;
}

.uab-template-15 .uab-short-contact div.uab-contact-inner:before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
}

.uab-template-15 .uab-short-contact div.uab-contact-inner:nth-of-type(1):before {
    content: none;
}

.uab-template-15 .uab-social-icons {
    position: relative;
    padding-left: 122px;
}

.uab-template-15 .uab-social-icons .uab-contact-label {
    color: #d4f4ff;
    margin-right: 19px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 122px;
    padding-right: 10px;
    font-family: 'Schoolbell', cursive;
    font-size: 22px;
    font-weight: 400;
}

.uab-template-15 .uab-social-icons ul li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

.uab-template-15 .uab-social-icons ul li a {
    width: 33px;
    height: 33px;
    line-height: 31px;
    text-align: center;
    background: #56acee;
    color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.uab-template-15 .uab-social-icons ul li a:hover {
    background: #56acee;
}

.uab-template-15 .uab-display-name span:not(.uab-user-role):hover,
.uab-template-15 .uab-display-name a:hover,
.uab-template-15 .uab-company-info a:hover,
.uab-template-15 .uab-user-website a:hover,
.uab-template-15 .uab-user-email a:hover,
.uab-template-15 .uab-user-phone a:hover {
    color: #fff;
}

/*template-15 recent post*/

.uab-template-15 .uab-recent-posts ul li {
    margin-top: 37px;
}

.uab-template-15 .uab-recent-posts ul li:nth-of-type(1) {
    margin-top: 0;
}

.uab-template-15 .uab-recent-posts .uab-post-first-wrapper,
.uab-template-15 .uab-recent-posts .uab-post-second-wrapper {
    float: left;
}

.uab-template-15 .uab-recent-posts .uab-post-first-wrapper {
    width: 150px;
}

.uab-template-15 .uab-recent-posts .uab-post-second-wrapper {
    width: calc(100% - 150px);
    padding-left: 15px;
}

.uab-template-15 .uab-post-image {
    width: 133px;
    max-width: 100%;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 0 #109cca;
    box-shadow: 4px 4px 0 #109cca;
}

.uab-template-15 .uab-post-title-wrapper {
    margin-bottom: 13px;
}

.uab-template-15 .uab-post-title-wrapper a {
    font-family: 'Schoolbell', cursive;
    font-size: 22px;
    font-weight: 400;
    color: #d4f4ff;
    display: inline-block;
    border-bottom: 1px solid #d4f4ff;
}

.uab-template-15 .uab-post-excerpt-wrapper,
.uab-template-15 .uab-post-excerpt-wrapper p {
    font-family: 'Schoolbell', cursive;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
}

.uab-template-15 .uab-post-title-wrapper a:hover {
    color: #fff;
}

.uab-template-15 .uab-contact-first-wrapper .uab-field-wrap {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
}

.uab-template-15 .uab-field-wrap {
    margin-bottom: 15px;
}

.uab-template-15 .uab-field-wrap label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #2c2d30;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.uab-template-15 .uab-contact-first-wrapper .uab-field-wrap:nth-of-type(2n) {
    padding-left: 17px;
}

.uab-template-15 .uab-contact-first-wrapper .uab-field-wrap:nth-of-type(2n+1) {
    padding-right: 17px;
}

.uab-template-15 .uab-field-wrap input[type=text],
.uab-template-15 .uab-field-wrap input[type=email],
.uab-template-15 .uab-field-wrap input[type=tel],
.uab-template-15 .uab-field-wrap textarea.uab-message-field {
    width: 100%;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 4px 4px 1px 1px #109cca;
    box-shadow: 4px 4px 1px 1px #109cca;
}

.uab-template-15 .uab-field-wrap input[type=text],
.uab-template-15 .uab-field-wrap input[type=email],
.uab-template-15 .uab-field-wrap input[type=tel] {
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
}

.uab-template-15 .uab-field-wrap textarea.uab-message-field {
    height: 231px;
    resize: none;
    padding: 10px;
}

.uab-template-15 .uab-contact-form input[type="submit"].uab-contact-submit {
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    font-weight: 600;
    color: #0d87af;
    padding: 25px 17px;
    min-width: 150px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    text-transform: uppercase;
    background-color: #fff;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 6px 6px 2px 2px #109cca;
    box-shadow: 6px 6px 2px 2px #109cca;
    -webkit-transition: all 0.5 ease;
    transition: all 0.5 ease;
}

.uab-template-15 .uap-success-message {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #50a0ce;
    margin-top: 10px;
    text-align: center;
}

.uab-template-15 .uab-co-author-grid label.uab-co-author-header {
    display: block;
    padding: 20px;
    margin-bottom: 30px;
}

.uab-template-15 .uab-co-author-grid .uab-author-profile-pic {
    width: 100%;
}

.uab-template-15 .uab-co-author-grid .uab-social-icons {
    padding-left: 0;
}

.uab-template-15 .uab-co-author-grid .uab-social-icons ul li {
    float: none;
}

.uab-template-15 .uab-co-author-individual .uab-co-author-display-name a,
.uab-template-15 .uab-linkedin-general .uab-linkedin-profile-name a,
.uab-template-15 .uab-linkedin-company-list span.uab-linkedin-company-name {
    font-family: 'Schoolbell', cursive;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

.uab-template-15 .uab-co-author-work span,
.uab-template-15 .uab-co-author-work span a,
.uab-template-15 .uab-linkedin-profile-wrapper .uab-linkedin-profile-headline {
    color: #d4f4ff;
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    font-weight: 400;
}

.uab-template-15 .uab-co-author-list .uab-co-author-description {
    display: inline-block;
    width: calc(100% - 110px);
    margin-left: 10px;
}

.uab-template-15 label.uab-co-author-header {
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    padding: 0px;
    display: inline-block;
    margin: 10px 5px;
}

.uab-template-15 label.uab-co-author-header span {
    border-bottom: 2px dashed #fff;
}

.uab-template-15 .uab-linkedin-profile-wrapper .uab-linkedin-profile-picture img {
    border-radius: 15px;
}

.uab-template-15 .uab-short-info a {
    color: #98dbf3;
}

.uab-template-15 .uab-short-info a {
    color: #fff;
}

.uab-template-15, uab-linkein-profile-wrapper .uab-linkedin-profile-summary {
    color: #fff;
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.3;
}

.uab-template-15 .uab-social-temp-wrapper-3 .uab-social-content a {
    color: #000;
}

.uab-template-15 .uab-rss-feed-title-wrapper a {
    font-family: 'Schoolbell', cursive;
    font-size: 22px;
    font-weight: 400;
    color: #d4f4ff;
    display: inline-block;
    border-bottom: 1px solid #d4f4ff;
}

.uab-template-15 .uab-rss-feed-title-wrapper a:hover {
    color: #f2f2f2;
}

.uab-template-15 .uab-rss-feed-date-wrapper {
    color: #f2f2f2;
}

.uab-template-15 .uab-rss-feed-description-wrapper {
    font-family: 'Schoolbell', cursive;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
}

.uab-template-15 .uab-linkedin-profile-wrapper .uab-linkedin-company-list {
    border-top-color: #FFF;
}

.uab-template-15 .uab-social-icons .uab-icon-odnoklassniki a {
    background: #ff9117;
}

.uab-template-15 .uab-social-icons .uab-icon-vk a {
    background-color: #4c75a3;
}

.uab-template-15 .uab-social-icons .uab-icon-facebook a {
    background: #4c70a5;
}

.uab-template-15 .uab-social-icons .uab-icon-twitter a {
    background: #2cb8e9;
}

.uab-template-15 .uab-social-icons .uab-icon-instagram a {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.uab-template-15 .uab-social-icons .uab-icon-youtube a {
    background: #cc3434;
}

.uab-template-15 .uab-social-icons .uab-icon-linkedin a {
    background: #017eb4;
}

.uab-template-15 .uab-social-icons .uab-icon-pinterest a {
    background: #4267b2;
}

.uab-template-15 .uab-social-icons .uab-icon-google-plus a {
    background: #df321c;
}

.uab-template-15 .uab-social-icons .uab-icon-tumblr a {
    background: #56bc8a;
}

.uab-template-15 .uab-social-icons .uab-icon-reddit a {
    background: #ff4500;
}

.uab-template-15 .uab-social-icons .uab-icon-flickr a {
    background: #1b4978;
}

.uab-template-15 .uab-social-icons .uab-icon-vine a {
    background: #26b387;
}

.uab-template-15 .uab-social-icons .uab-icon-meetup a {
    background: #ed1c40;
}

.uab-template-15 .uab-social-icons .uab-icon-github a {
    background: #6cc644;
}

.uab-template-15 .uab-social-icons .uab-icon-soundcloud a {
    background: #f50;
}

.uab-template-15 .uab-social-icons .uab-icon-vimeo a {
    background: #00b3ec;
}

.uab-template-15 .uab-social-icons .uab-icon-wordpress a {
    background: #2e4453;
}

.uab-template-15 .uab-social-icons .uab-icon-telegram a {
    background: #0088cc;
}

.uab-template-15 .uab-social-icons .uab-icon-spotify a {
    background: #7c25f8;
}

.uab-template-15 .uab-social-icons .uab-icon-snapchat a {
    background: #FFFC00;
    color: #000;
}

.uab-template-15 .uab-social-icons .uab-icon-skype a {
    background: #00aff0;
}

.uab-template-15 .uab-social-icons .uab-icon-whatsapp a {
    background: #00e676;
}

.uab-template-15 .uab-social-icons .uab-icon-dribbble a {
    background: #ea4c89;
}

.uab-template-15 .uab-social-temp-wrapper-3 .uab-title-social-wrapper a,
.uab-template-15 .uab-social-temp-wrapper-3 .uab-social-header .uab-social-follow a,
.uab-template-15 .uab-social-temp-wrapper-3 .uab-social-wrapper-second .uab-social-username-wrapper a,
.uab-template-15 .uab-social-temp-wrapper-3 .uab-social-date a,
.uab-template-15 .uab-social-temp-wrapper-3 .uab-social-content,
.uab-template-15 .uab-social-temp-wrapper-3 .uab-social-date {
    color: #fff;
}

.uab-template-15 .uab-co-author-list .uab-social-icons {
    padding-left: 0px;
}
