.uab-template-13 {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 20px;
    position: relative;
    background-attachment: fixed;
}

.uab-template-13:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(196, 133, 176, 0.5);
    background: -webkit-linear-gradient(rgba(196, 133, 176, 0.5), rgba(131, 156, 201, 0.5));
    background: -o-linear-gradient(rgba(196, 133, 176, 0.5), rgba(131, 156, 201, 0.5));
    background: -moz-linear-gradient(rgba(196, 133, 176, 0.5), rgba(131, 156, 201, 0.5));
    background: linear-gradient(rgba(196, 133, 176, 0.5), rgba(131, 156, 201, 0.5));
}

.uab-template-13 #uab-tab-index-wrapper {
    text-align: center;
}

.uab-template-13 .uab-tab-content {
    position: relative;
}

.uab-template-13 .uab-tabs {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;
}

.uab-template-13 .uab-tabs a,
.uab-template-13 .uab-tabs li {
    margin: 0 1px;
    padding: 13px 24px;
    color: #fff;
    position: relative;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    float: none;
}

.uab-template-13 .uab-tabs li:nth-child(1) {
    margin-left: 0;
}

.uab-template-13 .uab-tabs li.uab-current {
    background: #e9659c;
}

.uab-template-13 .uab-defaut-tab {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    padding: 22px 10px 0px;
    text-align: center;
}

.uab-template-13 .uab-author-profile-pic {
    margin-bottom: 12px;
}

.uab-template-13 .uap-profile-image {
    overflow: hidden;
    width: 199px;
    margin: 0 auto;
    max-width: 100%;
}

.uab-template-13 .uap-profile-image.uap-profile-image-circle,
.uab-template-13 .uap-profile-image.uap-profile-image-square img {
    border: 4px solid #facaeb;
}

.uab-template-13 .uab-display-name {
    margin-bottom: 20px;
}

.uab-template-13 .uab-display-name span:not(.uab-user-role),
.uab-template-13 .uab-display-name a {
    font-size: 48px;
    font-weight: 500;
    color: #fdacce;
    font-family: 'Great Vibes', cursive;
}

.uab-template-13 .uab-company-info {
    margin-bottom: 18px;
}

.uab-template-13 .uab-company-info,
.uab-template-13 .uab-company-info span,
.uab-template-13 .uab-company-info a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.uab-template-13 .uab-company-info span,
.uab-template-13 .uab-company-info a {
    display: inline-block;
}

.uab-template-13 .uab-num-post-count,
.uab-template-13 .uab-linkedin-basic,
.uab-template-13 .uab-short-info,
.uab-template-13 .uab-short-info a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin-bottom: 24px;
}

.uab-template-13 .uab-num-post-count {
    margin-bottom: 0px;
}

.uab-template-13 .uab-short-info a:hover {
    color: #e9659c;
}

.uab-template-13 .uab-short-contact {
    margin-bottom: 35px;
}

.uab-template-13 .uab-short-contact .uab-contact-inner {
    display: inline-block;
    margin-left: 20px;
}

.uab-template-13 .uab-short-contact .uab-contact-inner:nth-child(1) {
    margin-left: 0;
}

.uab-template-13 .uab-user-website a,
.uab-template-13 .uab-user-email a,
.uab-template-13 .uab-user-phone a {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    padding-left: 25px;
}

.uab-template-13 .uab-user-website a:before,
.uab-template-13 .uab-user-email a:before,
.uab-template-13 .uab-user-phone a:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Fontawesome;
    display: inline-block;
    width: 20px;
    color: #e9659c;
}

.uab-template-13 .uab-user-website a:before {
    content: "\f0ac";
}

.uab-template-13 .uab-user-email a:before {
    content: "\f003";
}

.uab-template-13 .uab-user-phone a:before {
    content: "\f095";
}

.uab-template-13 .uab-social-icons ul li {
    display: inline-block;
    margin-bottom: 2px;
}

.uab-template-13 .uab-social-icons ul li a {
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background: #e9659c;
    color: #fff;
    font-size: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.uab-template-13 .uab-display-name span:not(.uab-user-role):hover,
.uab-template-13 .uab-display-name a:hover,
.uab-template-13 .uab-company-info a:hover,
.uab-template-13 .uab-user-website a:hover,
.uab-template-13 .uab-user-email a:hover,
.uab-template-13 .uab-user-phone a:hover {
    color: #e9659c;
}

.uab-template-13 .uab-social-icons ul li a:hover {
    background: #e7116a;
    color: #ffffff;
}

/*template 13 recent post */

.uab-template-13 .uab-recent-posts {
    padding: 40px 30px 0;
}

.uab-template-13 .uab-recent-posts ul li {
    margin-top: 40px;
}

.uab-template-13 .uab-recent-posts ul li:nth-of-type(1) {
    margin-top: 0;
}

.uab-template-13 .uab-post-first-wrapper,
.uab-template-13 .uab-post-second-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}

.uab-template-13 .uab-post-first-wrapper {
    width: 20%;
}

.uab-template-13 .uab-post-second-wrapper {
    width: 80%;
    padding-left: 20px;
}

.uab-template-13 .uab-post-image {
    width: 200px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 7px solid #facaeb;
    margin: 0 auto;
}

.uab-template-13 .uab-post-image:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.uab-template-13 .uab-post-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.uab-template-13 .uab-post-title-wrapper {
    margin-bottom: 11px;
}

.uab-template-13 .uab-post-title-wrapper a {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Great Vibes', cursive;
    display: inline-block;
}

.uab-template-13 .uab-post-meta-info {
    margin-bottom: 20px;
}

.uab-template-13 .uap-post-date,
.uab-template-13 .uap-post-author-name {
    display: inline-block;
}

.uab-template-13 .uap-post-date {
    margin-right: 10px;
}

.uab-template-13 .uap-post-date,
.uab-template-13 .uap-post-author-name span,
.uab-template-13 .uap-post-author-name a {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.uab-template-13 .uab-post-excerpt-wrapper,
.uab-template-13 .uab-post-excerpt-wrapper p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.uab-template-13 .uab-post-title-wrapper a:hover,
.uab-template-13 .uap-post-author-name span:hover,
.uab-template-13 .uap-post-author-name a:hover {
    color: #e9659c;
}

.uab-template-13 .uap-contact-form-wrapper {
    padding: 40px 30px 0;
}

.uab-template-13 .uab-contact-first-wrapper .uab-field-wrap {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.uab-template-13 .uab-field-wrap {
    margin-bottom: 22px;
}

.uab-template-13 .uab-contact-first-wrapper .uab-field-wrap:nth-of-type(2n) {
    padding-left: 10px;
}

.uab-template-13 .uab-contact-first-wrapper .uab-field-wrap:nth-of-type(2n+1) {
    padding-right: 10px;
}

.uab-template-13 .uab-field-wrap .uab-field {
    position: relative;
}

.uab-template-13 .uab-field-wrap input[type=text],
.uab-template-13 .uab-field-wrap input[type=email],
.uab-template-13 .uab-field-wrap input[type=tel] {
    height: 44px;
    padding: 0 10px 0 44px;
}

.uab-template-13 .uab-field-wrap input[type=text],
.uab-template-13 .uab-field-wrap input[type=email],
.uab-template-13 .uab-field-wrap input[type=tel],
.uab-template-13 .uab-field-wrap textarea.uab-message-field {
    border: 1px solid #fff;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    font-family: Lato, sans-serif;
    color: #fff;
    background-color: transparent;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.uab-template-13 .uab-field-wrap input::-moz-placeholder,
.uab-template-13 textarea.uab-message-field::-moz-placeholder {
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    font-family: Lato, sans-serif;
}

.uab-template-13 .uab-field-wrap input:-ms-input-placeholder,
.uab-template-13 textarea.uab-message-field:-ms-input-placeholder {
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    font-family: Lato, sans-serif;
}

.uab-template-13 .uab-field-wrap input::-webkit-input-placeholder,
.uab-template-13 textarea.uab-message-field::-webkit-input-placeholder {
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    font-family: Lato, sans-serif;
}

.uab-template-13 .uab-field-wrap textarea.uab-message-field {
    height: 180px;
    resize: none;
    padding: 10px;
    padding-left: 44px;
}

.uab-template-13 .uab-field-wrap .uab-field i,
.uab-template-13 .uab-field-wrap .uab-field svg {
    position: absolute;
    width: 42px;
    text-align: center;
    background: transparent;
    height: 20px;
    line-height: 41px;
    border: 0;
    left: 1px;
    top: 5px;
    bottom: 1px;
    font-size: 14px;
    color: #fff;
}

.uab-template-13 .uab-contact-form-submit input[type=submit] {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #e84f89;
    padding: 14px 25px;
    text-transform: uppercase;
    -webkit-transition: all 0.5 ease;
    transition: all 0.5 ease;
}

.uab-template-13 .uap-success-message {
    text-align: center;
    font-size: 14px;
    color: #51c18b;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
}

.uab-template-13 .uab-linkedin-company-list span.uab-linkedin-company-name:hover,
.uab-template-13 .uab-co-author-individual .uab-co-author-display-name a:hover,
.uab-template-13 .uab-linkedin-general .uab-linkedin-profile-name a:hover {
    color: #e9659c;
}

.uab-template-13 span.uab-co-author-company-link a:hover {
    color: #e9659c;
}

.uab-template-13 .uab-co-author-list {
    padding: 0px 35px;
}

.uab-template-13 .uab-co-author-individual .uab-co-author-display-name a,
.uab-template-13 .uab-linkedin-general .uab-linkedin-profile-name a,
.uab-template-13 .uab-linkedin-company-list span.uab-linkedin-company-name {
    font-size: 25px;
    font-weight: 500;
    color: #fdacce;
    font-family: 'Great Vibes', cursive;
}

.uab-template-13 .uab-co-author-work span,
.uab-template-13 .uab-co-author-work span a,
.uab-template-13 .uab-linkedin-profile-wrapper .uab-linkedin-profile-headline {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.uab-template-13 .uab-co-author-list .uab-co-author-description {
    display: inline-block;
    width: calc(100% - 115px);
    margin-left: 10px;
    float: right;
}

.uab-template-13 label.uab-co-author-header {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 5px;
    text-align: center;
}

.uab-template-13 .uap-co-author-image {
    border: 3px solid #facaeb;
}

.uab-template-13 .uab-short-info a {
    color: #fdacce;
}

.uab-template-13 .uab-short-info a:hover {
    color: #e9659c;
}

.uab-template-13 .uab-linkedin-profile-wrapper .uab-linkedin-profile-picture {
    border: 3px solid #facaeb;
}

.uab-template-13 .uab-social-content a {
    color: #e9659c;
}

.uab-template-13 .uab-temp-content-wrapper .uab-social-action-wrapper .uab-social-action a:hover {
    color: #e9659c;
}

.uab-template-13.uab-frontend-wrapper .uab-facebook-count {
    background: #e9659c;
}

.uab-template-13.uab-frontend-wrapper .uab-facebook-count i,
.uab-template-13.uab-frontend-wrapper .uab-facebook-count svg {
    color: #e9659c;
}

.uab-template-13 .uab_widgets_content,
.uab-template-13 .uab-rss-wrapper {
    padding: 40px 30px 0;
}

.uab-template-13 .uab-rss-feed-title-wrapper a {
    color: #fff;
    font-weight: 600;
}

.uab-template-13 .uab-rss-feed-title-wrapper a:hover {
    color: #e9659c;
}

.uab-template-13 .uab-rss-feed-date-wrapper {
    color: #f2f2f2;
}

.uab-template-13 .uab-rss-feed-description-wrapper {
    color: #f2f2f2;
}

.uab-template-13 .uab-social-feed-wrapper {
    padding: 40px 30px 0;
}

.uab-template-13 .uab-social-header {
    padding: 10px;
    border: 1px solid #e6e6e6;
    width: 100%;
    display: table;
}

.uab-template-13 .uab-title-social-wrapper {
    float: left;
}

.uab-template-13 .uab-social-follow {
    float: right;
}


.uab-template-13 .uab-title-social-wrapper a {
    color: #fff;
}


.uab-template-13 .uab-title-social-wrapper a {
    font-weight: 700;
    font-size: 13px;
    font-family: 'Roboto', Sans-serif;
    margin-top: 7px;
    text-transform: uppercase;
}

.uab-template-13 .uab-social-follow a {
    color: #292f33;
    font-size: 13px;
    padding: 5px 11px 5px;
    background-color: #f5f8fa;
    background: linear-gradient(#fff, #f5f8fa);
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    position: relative;
    font-family: 'Roboto', Sans-serif;
}

.uab-template-13 .uab-social-feed li {
    padding: 15px;
    border: 1px solid #e6e6e6;
    border-top: 0;
}

.uab-template-13 .uab-social-content {
    margin-bottom: 10px;
}

.uab-template-13 .uab-social-content {
    color: #fff;
}

.uab-template-13 .uab-social-content a {
    display: inline-block;
}

.uab-template-13 .uab-social-content,
.uab-template-13 .uab-social-content a {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.7px;
}

.uab-template-13 .uab-temp-content-wrapper .uab-social-date {
    float: left;
}


.uab-template-13 .uab-temp-content-wrapper .uab-social-action-wrapper {
    float: right;
}

.uab-template-13 .uab-temp-content-wrapper .uab-social-action-wrapper .uab-social-action {
    display: inline-block;
}

.uab-template-13 .uab-temp-content-wrapper .uab-social-date a,
.uab-template-13 .uab-temp-content-wrapper .uab-social-action-wrapper .uab-social-action a {
    font-family: 'Open Sans', sans-serif;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

.uab-template-13 .uab-temp-content-wrapper .uab-social-action-wrapper .uab-social-action a {
    width: 20px;
    height: 20px;
}

.uab-template-13.uab-frontend-wrapper .uab-facebook-count svg {
    color: #71468b;
}


.uab-template-13 .uab-frontend-editor {
    padding: 0 30px;
}

.uab-template-13 .uab-co-author-list .uab-author-profile-pic {
    margin-bottom: 0;
}

.uab-template-13 .uab-co-author-grid label.uab-co-author-header {
    padding: 20px;
}

.uab-template-13 .uab-linkedin-profile-wrapper .uab-linkedin-basic .uab-linkedin-general {
    display: inline-block;
    width: calc(100% - 165px);
    margin-left: 18px;
}

.uab-template-13 .uab-tab-content {
    padding: 33px 0 0;
}

.uab-template-13 .uab-linkedin-profile-wrapper .uab-linkedin-company-list {
    border-top-color: #FFF;
}

@media screen and (max-width: 900px) {
    .uab-template-13 .uab-linkedin-profile-wrapper .uab-linkedin-basic .uab-linkedin-general {
        margin-left: 0;
        width: 100%;
    }
}