/*----------------------
template 3 css start
------------------------*/

.uab-template-3 .uab-tabs {
    border-bottom: 4px solid #178ad5;
    clear: both;
}

.uab-template-3 .uab-tabs a,
.uab-template-3 .uab-tabs li {
    background: #daedf8;
    color: #178ad5;
    padding: 13px 23px;
    -webkit-border-radius: 10px;
    border-radius: 10px 10px 0 0;
    border: 0;
    margin-right: 2px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.uab-template-3 .uab-tabs li.uab-current {
    background: #178ad5;
    color: #fff;
}

.uab-template-3 .uab-tab-content .uab-defaut-tab-wrapper {
    padding: 39px 30px 39px 96px;
}

.uab-template-3 .uab-tab-content .uab-defaut-tab {
    position: relative;
    width: 100%;
    border: 3px solid #daedf8;
    padding: 25px 25px 25px 80px;
}

.uab-template-3 .uab-front-content {
    min-height: 150px;
}

.uab-template-3 .uab-display-name span:not(.uab-user-role),
.uab-template-3 .uab-display-name a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #178ad5;
    font-weight: 700;
}

.uab-template-3 .uab-company-info > span,
.uab-template-3 .uab-company-info > a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

.uab-template-3 .uab-display-name {
    margin-bottom: 7px;
}

.uab-template-3 .uab-company-info,
.uab-template-3 .uab-short-info {
    margin-bottom: 17px;
}

.uab-template-3 .uab-num-post-count,
.uab-template-3 .uab-linkedin-basic,
.uab-template-3 .uab-short-info {
    font-family: 'Raleway', sans-serif;
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.uab-template-3 .uab-short-contact a,
.uab-template-3 .uab-short-contact .uab-contact-inner {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 600;
}

.uab-template-3 .uab-short-contact a {
    display: inline-block;
}

.uab-template-3 .uab-user-website,
.uab-template-3 .uab-user-email,
.uab-template-3 .uab-user-phone {
    position: relative;
    padding-left: 25px;
}

.uab-template-3 .uab-user-website:before,
.uab-template-3 .uab-user-email:before,
.uab-template-3 .uab-user-phone:before {
    position: absolute;
    font-family: Fontawesome;
    display: inline-block;
    width: 20px;
    top: 0;
    left: 0;
    color: #bbbbbb;
    font-size: 14px;
}

.uab-template-3 .uab-user-website:before {
    content: "\f0ac";
}

.uab-template-3 .uab-user-email:before {
    content: "\f003";
}

.uab-template-3 .uab-user-phone:before {
    content: "\f095";
}

.uab-template-3 .uab-short-contact .uab-contact-inner {
    margin-bottom: 7px;
}

.uab-template-3 .uab-short-contact .uab-contact-inner:last-child {
    margin-bottom: 0;
}

.uab-template-3 .uap-profile-image {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -68px;
}

.uab-template-3 .uab-social-icons {
    background: #daedf8;
    padding: 5px 5px 5px 96px;
}

.uab-template-3 .uab-social-icons ul li {
    display: inline-block;
    padding: 8px;
}

.uab-template-3 .uab-social-icons ul li i,
.uab-template-3 .uab-social-icons ul li svg {
    font-size: 18px;
    color: #666666;
}

.uab-template-3 .uab-display-name span:not(.uab-user-role):hover,
.uab-template-3 .uab-short-contact a:hover,
.uab-template-3 .uab-company-info > a:hover,
.uab-template-3 .uab-display-name a:hover,
.uab-template-3 .uab-social-icons ul li a:hover i,
.uab-template-3 .uab-social-icons ul li a:hover svg {
    color: #178ad5;
}

/*template 3 recent post*/

.uab-template-3 .uab-recent-posts {
    padding: 39px;
    background: #fff;
}

.uab-template-3 .uab-recent-posts ul {
    overflow: hidden;
}

.uab-template-3 .uab-recent-posts ul li {
    width: 50%;
    margin-right: -4px;
    display: inline-block;
    vertical-align: top;
}

.uab-template-3 .uab-recent-posts ul li:nth-of-type(2n+1) {
    padding-right: 20px;
}

.uab-template-3 .uab-recent-posts ul li:nth-of-type(2n) {
    padding-left: 20px;
}

.uab-template-3 .uab-recent-posts ul li .post-item-wrapper {
    padding: 10px 0;
    border-top: 1px solid #eee;
    margin-top: -1px
}

.uab-template-3 .uab-post-first-wrapper {
    float: left;
    width: 20%;
}

.uab-template-3 .uab-post-second-wrapper {
    float: left;
    width: 80%;
    padding-left: 13px;
}

.uab-template-3 .uab-post-title-wrapper {
    margin-bottom: 6px;
}

.uab-template-3 .uab-post-title-wrapper a {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #178ad5;
    font-weight: 600;
}

.uab-template-3 .uap-post-date {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    color: #333333;
    font-weight: 600;
    position: relative;
    padding-left: 23px;
}

.uab-template-3 .uap-post-date:before {
    content: "\f017";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    font-size: 13px;
    font-family: Fontawesome;
    color: #999;
}

/*----------------------
template 3 css end
------------------------*/
.uab-template-3 .uap-contact-form-wrapper {
    padding: 39px;
}

.uab-template-3 .uab-contact-first-wrapper,
.uab-template-3 .uab-contact-second-wrapper {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.uab-template-3 .uab-contact-first-wrapper {
    padding-right: 13px;
}

.uab-template-3 .uab-contact-second-wrapper {
    padding-left: 13px;
}

.uab-template-3 .uab-field-wrap input[type=text],
.uab-template-3 .uab-field-wrap input[type=email],
.uab-template-3 .uab-field-wrap input[type=tel] {
    height: 39px;
    padding: 0 10px;
}

.uab-template-3 .uab-field-wrap textarea.uab-message-field {
    height: 157px;
    resize: none;
    padding: 10px;
}

.uab-template-3 .uab-field-wrap input[type=text],
.uab-template-3 .uab-field-wrap input[type=email],
.uab-template-3 .uab-field-wrap input[type=tel],
.uab-template-3 .uab-field-wrap textarea.uab-message-field {
    border: 1px solid #daedf8;
    width: 100%;
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.uab-template-3 .uab-contact-form .uab-field-wrap {
    margin-top: 20px;
}

.uab-template-3 .uab-contact-form .uab-field-wrap.uab-contact-name,
.uab-template-3 .uab-contact-form .uab-field-wrap.uab-contact-message {
    margin-top: 0;
}

.uab-template-3 .uab-contact-form-submit input[type=submit] {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    background: #178ad5;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    border: 2px solid transparent;
    height: 39px;
    line-height: 39px;
    -webkit-transition: all 0.5 ease;
    transition: all 0.5 ease;
    color: #fff;
}

.uab-template-3 .uab-contact-form-submit input[type=submit]:hover {
    background: #009aff;
}

.uab-template-3 .uab-field-wrap input::-moz-placeholder,
.uab-template-3 textarea.uab-message-field::-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.uab-template-3 .uab-field-wrap input:-ms-input-placeholder,
.uab-template-3 textarea.uab-message-field:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.uab-template-3 .uab-field-wrap input::-webkit-input-placeholder,
.uab-template-3 textarea.uab-message-field::-webkit-input-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.uab-template-3 .uab-linkedin-company-list span.uab-linkedin-company-name:hover,
.uab-template-3 .uab-co-author-individual .uab-co-author-display-name a:hover,
.uab-template-3 .uab-linkedin-general .uab-linkedin-profile-name a:hover {
    color: #1798e0;
}

.uab-template-3 span.uab-co-author-company-link a:hover {
    color: #1798e0;
}

.uab-template-3 label.uab-co-author-header {
    padding: 10px 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.uab-template-3 .uab-co-author-list {
    padding: 30px 0;
}

.uab-template-3 .uab-co-author-individual .uab-co-author-display-name a,
.uab-template-3 .uab-linkedin-general .uab-linkedin-profile-name a,
.uab-template-3 .uab-linkedin-company-list span.uab-linkedin-company-name {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #178ad5;
    font-weight: 700;
}

.uab-template-3 .uab-co-author-work span,
.uab-template-3 .uab-co-author-work span a,
.uab-template-3 .uab-linkedin-profile-wrapper .uab-linkedin-profile-headline {
    /*display: inline-block;*/
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

.uab-template-3 .uab-co-author-list .uab-co-author-description {
    display: inline-block;
    width: calc(100% - 115px);
    margin-left: 10px;
    transform: translateY(-18px);
}

.uab-template-3 .uab-co-author-individual .uab-social-icons {
    background: transparent;
    padding: 0px;
    margin-top: -5px;
}

.uab-template-3 .uab-linkedin-company-list span.uab-profile-current-company {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.uab-template-3 .uab-social-feed-wrapper {
    padding: 39px;
}

.uab-template-3 .uab-social-header .uab-social-follow a {
    background: #178ad5;
}

.uab-template-3 .uab-short-info a,
.uab-template-3 .uab-social-content a {
    color: #178ad5;
}

.uab-template-3 .uab-social-wrapper-second .uab-title-social-wrapper a:hover,
.uab-template-3 .uab-social-wrapper-second .uab-social-username-wrapper a:hover {
    color: #178ad5;
}

.uab-template-3 .uab-social-action-wrapper {
    text-align: left;
    margin-top: 10px;
}

.uab-template-3 .uab-social-action-wrapper .uab-social-action a:hover {
    background: #178ad5;
}

.uab-template-3 .uab-rss-feed-title-wrapper a {
    color: #178ad5;
}

.uab-template-3 .uab-rss-feed-title-wrapper a:hover {
    color: #009aff;
}

.uab-template-3 .uab-social-header {
    text-align: right;
}

.uab-template-3 .uab-social-header .uab-social-follow a {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 5px 7px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.uab-template-3 .uab-social-content {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    line-height: 1.5;
}

.uab-template-3 .uab-social-content {
    padding: 10px 0;
}

.uab-template-3 .uab-social-content a {
    display: inline-block;
}

.uab-template-3 .uab-social-wrapper-second .uab-title-social-wrapper,
.uab-template-3 .uab-social-wrapper-second .uab-social-username-wrapper,
.uab-template-3 .uab-social-wrapper-second .uab-social-date {
    display: inline-block;
    margin-right: 10px;
}

.uab-template-3 .uab-social-wrapper-second .uab-title-social-wrapper a,
.uab-template-3 .uab-social-wrapper-second .uab-social-username-wrapper a,
.uab-template-3 .uab-social-wrapper-second .uab-social-date {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    display: inline-block;
}

.uab-template-3 .uab-social-wrapper-second .uab-title-social-wrapper a,
.uab-template-3 .uab-social-wrapper-second .uab-social-username-wrapper a,
.uab-template-3 .uab-social-wrapper-second .uab-social-date a {
    color: #1e2a36;
}

.uab-template-3 .uab-social-wrapper-second .uab-title-social-wrapper a {
    text-transform: uppercase;
}

.uab-template-3 .uab-social-action-wrapper .uab-social-action {
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uab-template-3 .uab-social-action-wrapper .uab-social-action.uab-facebook-action {
    opacity: 1;
    visibility: visible;
}

.uab-template-3 .uab-social-feed li {
    margin-top: 20px;
}

.uab-template-3 .uab-social-feed li:nth-of-type(1) {
    margin-top: 0;
}

.uab-template-3 .uab-social-feed-inner-wrapper:hover .uab-social-action-wrapper .uab-social-action {
    opacity: 1;
    visibility: visible;
}

.uab-template-3 .uab-social-action-wrapper .uab-social-action a {
    background: #777;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.uab-frontend-wrapper.uab-template-3 .uab-rss-wrapper {
    padding: 39px;
}

.uab-template-3 .uab-company-wrapper {
    padding: 20px;
}

.uab-template-3 .uab-tab-content {
    padding: 33px 0 0;
}
