@media only screen and (max-width: 768px) {
    /*tab responsive css start*/
    
    .uab-frontend-wrapper .uab-tabs {
        width: 100%;
    }
    .uab-frontend-wrapper .uab-tabs a ,
    .uab-frontend-wrapper .uab-tabs li {
        float: none;
        display: block;
        width: 100%;
    }

}
@media only screen and (max-width: 640px) {
    /*template-1*/
    
    .uab-template-1 .uab-social-icons {
        padding-left: 0;
    }
    .uab-template-1 .uab-social-icons span.uab-contact-label {
        position: relative;
        left: 0;
        top: 0;
        display: inline-block;
    }
    .uab-template-1 .uab-display-name a {
        margin-bottom: 5px;
    }
    .uab-template-1 .uab-social-icons > span,
    .uab-template-1 .uab-social-icons > ul {
        float: none;
    }
    .uab-template-1 .uab-social-icons > ul {
        display: block;
        margin-top: 10px;
    }
    .uab-template-1 .uab-contact-inner {
        display: block;
        margin-bottom: 5px;
    }
}

@media (max-width: 560px) {

    .uab-abw-wrapper .uap-profile-image img {
        margin-right: auto;
    }
}

@media only screen and (max-width: 480px) {
    .uab-template-1 .uab-author-profile-pic {
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }
    .uab-template-1 .uab-front-content {
        width: 100%;
        float: none;
        padding-left: 0;
    }
}