.uab-template-18 {
    background-image: url(../images/temp-18.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    padding: 80px 30px 60px;
}

.uab-template-18 #uab-tab-index-wrapper {
    text-align: center;
}

.uab-template-18 .uab-tabs {
    display: inline-block;
    margin-bottom: 40px;
}

.uab-template-18 .uab-tabs a,
.uab-template-18 .uab-tabs li {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 7px 15px 24px;
    padding-bottom: 24px;
    font-family: 'Oswald', sans-serif;
    position: relative;
    text-align: center;
    margin: 0 10px;
    text-transform: uppercase;
}

.uab-template-18 .uab-tabs li.uab-current:after {
    content: url(../images/border-img.png);
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uab-template-18 .uab-author-profile-pic,
.uab-template-18 .uab-front-content {
    float: left;
}

.uab-template-18 .uab-author-profile-pic {
    width: 20%;
}

.uab-template-18 .uab-front-content {
    width: 80%;
    padding-left: 20px;
}

.uab-template-18 .uap-profile-image {
    width: 176px;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

.uab-template-18 .uap-profile-image-circle {
    overflow: hidden;
}

.uab-template-18 .uap-profile-image.uap-profile-image-square img,
.uab-template-18 .uap-profile-image.uap-profile-image-circle {
    border: 8px solid #e6e5e6;
}

.uab-template-18 .uap-profile-image.uap-profile-image-square:before,
.uab-template-18 .uap-profile-image.uap-profile-image-square:after {
    content: '';
    position: absolute;
    height: 16px;
    width: 32px;
    top: -16px;
    background: #a48f75;
    opacity: 0.6;
}

.uab-template-18 .uap-profile-image.uap-profile-image-square:before {
    left: 20px;
}

.uab-template-18 .uap-profile-image.uap-profile-image-square:after {
    right: 20px;
}

.uab-template-18 .uab-display-name {
    margin-top: -14px;
    margin-bottom: 22px;
}

.uab-template-18 .uab-display-name span:not(.uab-user-role),
.uab-template-18 .uab-display-name a {
    padding: 40px 93px 40px 54px;
    display: inline-block;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    background: url(../images/titile-bg.png) no-repeat;
    background-size: 100%;
    background-position: 50%;
}

.uab-template-18 .uab-company-info {
    margin-bottom: 13px;
}

.uab-template-18 .uab-company-info,
.uab-template-18 .uab-company-info span.uab-company-designation,
.uab-template-18 .uab-company-info a {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
}

.uab-template-18 .uab-company-info span.uab-company-designation,
.uab-template-18 .uab-company-info a {
    display: inline-block;
    margin-bottom: 2px;
}

.uab-template-18 .uab-linkedin-basic,
.uab-template-18 .uab-short-info,
.uab-template-18 .uab-short-info a {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 25px;
}

.uab-template-18 .uab-social-icons {
    margin-bottom: 5px;
    clear: both;
    display: table;
    width: 100%;
}

.uab-template-18 .uab-social-icons li {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
}

.uab-template-18 .uab-social-icons li a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background: #ed803a;
    font-size: 20px;
}

.uab-template-18 .uab-social-icons li a:hover {
    background: #ed803a;
}

.uab-template-18 .uab-contact-inner {
    display: inline-block;
    display: inline-block;
    margin: 0 0 1px;
}

.uab-template-18 .uab-user-website a,
.uab-template-18 .uab-user-email a,
.uab-template-18 .uab-user-phone a {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    margin-right: 25px;
    line-height: 1.1;
    padding-left: 25px;
    position: relative;
}

.uab-template-18 .uab-user-website a:before,
.uab-template-18 .uab-user-email a:before,
.uab-template-18 .uab-user-phone a:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: Fontawesome;
    display: inline-block;
    width: 20px;
    color: #fd7a5f;
    font-size: 18px;
}

.uab-template-18 .uab-user-website a:before {
    content: "\f0ac";
}

.uab-template-18 .uab-user-email a:before {
    content: "\f003";
}

.uab-template-18 .uab-user-phone a:before {
    content: "\f095";
}

.uab-template-18 .uab-company-info a:hover,
.uab-template-18 .uab-user-website a:hover {
    color: #ed803a;
}

.uab-template-18 .uab-display-name span:not(.uab-user-role):hover,
.uab-template-18 .uab-display-name a:hover {
    color: #fff;
}

/*recent post*/

.uab-template-18 .uab-recent-posts ul li {
    margin-top: 30px;
}

.uab-template-18 .uab-recent-posts ul li:nth-of-type(1) {
    margin-top: 0;
}

.uab-template-18 .uab-post-first-wrapper,
.uab-template-18 .uab-post-second-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.uab-template-18 .uab-post-first-wrapper {
    width: 20%;
}

.uab-template-18 .uab-post-second-wrapper {
    width: 80%;
    padding-left: 10px;
}

.uab-template-18 .uab-post-image {
    width: 176px;
    position: relative;
    border: 8px solid #e6e5e6;
    margin: 0 auto;
    max-width: 100%;
}

.uab-template-18 .uab-recent-posts ul li.uab-no-image .uab-post-first-wrapper {
    display: none;
}

.uab-template-18 .uab-recent-posts ul li.uab-no-image .uab-post-second-wrapper {
    width: 100%;
}

.uab-template-18 .uab-post-title-wrapper {
    margin-bottom: 10px;
}

.uab-template-18 .uab-post-title-wrapper a {
    display: inline-block;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}

.uab-template-18 .uab-post-meta-info {
    margin-bottom: 7px;
}

.uab-template-18 .uap-post-author-name,
.uab-template-18 .uap-post-date {
    display: inline-block;
}

.uab-template-18 .uap-post-author-name {
    margin-right: 10px;
}

.uab-template-18 .uap-post-author-name span,
.uab-template-18 .uap-post-author-name a,
.uab-template-18 .uap-post-date {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #aaa;
    line-height: 1.5;
}

.uab-template-18 .uab-short-info a,
.uab-template-18 .uab-post-title-wrapper a:hover,
.uab-template-18 .uap-post-author-name a:hover,
.uab-template-18 .uap-post-author-name span:hover,
.uab-template-18 .uab-user-email a:hover,
.uab-template-18 .uab-user-phone a:hover {
    color: #ed803a;
}

.uab-template-18 .uab-post-excerpt-wrapper,
.uab-template-18 .uab-post-excerpt-wrapper p {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 0px;
}

.uab-template-18 .uap-contact-form-wrapper {
    padding: 0 20px 20px 20px;
}

.uab-template-18 .uab-contact-first-wrapper,
.uab-template-18 .uab-contact-second-wrapper {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.uab-template-18 .uab-contact-first-wrapper {
    padding-right: 13px;
}

.uab-template-18 .uab-contact-second-wrapper {
    padding-left: 13px;
}

.uab-template-18 .uab-field-wrap input[type=text],
.uab-template-18 .uab-field-wrap input[type=email],
.uab-template-18 .uab-field-wrap input[type=tel] {
    height: 39px;
    padding: 0 10px;
}

.uab-template-18 .uab-field-wrap textarea.uab-message-field {
    height: 157px;
    resize: none;
    padding: 10px;
}

.uab-template-18 .uab-field-wrap input[type=text],
.uab-template-18 .uab-field-wrap input[type=email],
.uab-template-18 .uab-field-wrap input[type=tel],
.uab-template-18 .uab-field-wrap textarea.uab-message-field {
    border: 1px solid #ececec;
    width: 100%;
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-top: 20px;
}

.uab-template-18 .uab-contact-form-submit input[type=submit] {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    background: #ed803a;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    height: 39px;
    line-height: 39px;
    -webkit-transition: all 0.5 ease;
    transition: all 0.5 ease;
}

.uab-template-18 .uab-field-wrap input::-moz-placeholder,
.uab-template-18 textarea.uab-message-field::-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.uab-template-18 .uab-field-wrap input:-ms-input-placeholder,
.uab-template-18 textarea.uab-message-field:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.uab-template-18 .uab-field-wrap input::-webkit-input-placeholder,
.uab-template-18 textarea.uab-message-field::-webkit-input-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.uab-template-18 span.uab-co-author-company-link a:hover {
    color: #ef802e;
}

.uab-template-18 .uab-co-author-grid .uab-author-profile-pic {
    float: none;
    display: inline-block;
    width: 100%;
}

.uab-template-18 .uab-co-author-grid .uab-co-author-description {
    margin-top: 20px;
}

.uab-template-18 .uab-linkedin-profile-wrapper .uab-linkedin-company a {
    display: inline-block;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.uab-template-18 .uab-co-author-grid .uab-social-icons li {
    float: none;
    margin-right: 5px;
    margin-left: 5px;
}

.uab-template-18 .uab-co-author-individual .uab-co-author-display-name a,
.uab-template-18 .uab-linkedin-general .uab-linkedin-profile-name a {
    padding: 8px 24px 12px 11px;
    display: inline-block;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    background: url(../images/titile-bg.png) no-repeat;
    background-size: 100%;
    background-position: 50%;
}

.uab-template-18 .uab-linkedin-company-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.uab-template-18 .uab-co-author-work span,
.uab-template-18 .uab-co-author-work span a,
.uab-template-18 .uab-linkedin-profile-wrapper .uab-linkedin-profile-headline {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
}

.uab-template-18 .uab-co-author-list .uab-co-author-description {
    display: inline-block;
    width: calc(100% - 115px);
    margin-left: 10px;
}

.uab-template-18 label.uab-co-author-header {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 5px;
}

.uab-template-18 .uap-co-author-image {
    border: 8px solid #e6e5e6;
}

.uab-template-18 .uab-linkedin-profile-wrapper .uab-linkedin-profile-summary {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 25px;
}

.uab-template-18 .uab-linkedin-profile-wrapper .uab-linkedin-profile-picture {
    border: 3px solid #e6e5e6;
}

.uab-template-18 .uab-linkedin-profile-wrapper .uab-linkedin-basic .uab-linkedin-general {
    width: calc(100% - 190px);
}

.uab-template-18.uab-frontend-wrapper div {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 1.5;
}

.uab-template-18.uab-frontend-wrapper .uab-facebook-count {
    background: #ef802e;
}

.uab-template-18.uab-frontend-wrapper .uab-facebook-count i,
.uab-template-18.uab-frontend-wrapper .uab-facebook-count svg {
    color: #ef802e;
}

.uab-template-18 .uab-rss-feed-title-wrapper a {
    color: #fff;
}

.uab-template-18 .uab-rss-feed-title-wrapper a:hover {
    color: #ed803a;
}

.uab-template-18 .uab-rss-feed-description-wrapper {
    color: #f2f2f2;
}

.uab-template-18 .uab-social-icons .uab-icon-vk a {
    background-color: #4c75a3;
}

.uab-template-18 .uab-social-icons .uab-icon-odnoklassniki a {
    background: #ff9117;
}

.uab-template-18 .uab-linkedin-profile-wrapper .uab-linkedin-company-list {
    border-top-color: #FFF;
}

.uab-template-18 .uab-co-author-grid label.uab-co-author-header {
    display: block;
    padding: 20px 0;
}

.uab-template-18 .uab-co-author-list .uab-co-author-individual:last-child {
    margin-bottom: 0;
}

.uab-template-18 .uab-social-temp-wrapper-3 .uab-social-content {
    color: #fff;
}

.uab-template-18 .uab_widgets_content h4 {
    color: #fff;
}

.uab-template-18 .uab-social-temp-wrapper-3 .uab-title-social-wrapper a,
.uab-template-18 .uab-social-temp-wrapper-3 .uab-social-follow a,
.uab-template-18 .uab-social-temp-wrapper-3 .uab-social-wrapper-second .uab-social-username-wrapper a,
.uab-template-18 .uab-social-temp-wrapper-3 .uab-social-date a,
.uab-template-18 .uab-social-temp-wrapper-3 .uab-social-date {
    color: #fff;
}

.uab-template-18 .uab-social-icons .uab-icon-facebook a {
    background: #4c70a5;
}

.uab-template-18 .uab-social-icons .uab-icon-twitter a {
    background: #2cb8e9;
}

.uab-template-18 .uab-social-icons .uab-icon-instagram a {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}


.uab-template-18 .uab-social-icons .uab-icon-youtube a {
    background: #cc3434;
}

.uab-template-18.uab-social-icons .uab-icon-linkedin a {
    background: #017eb4;
}

.uab-template-18.uab-social-icons .uab-icon-pinterest a {
    background: #4267b2;
}

.uab-template-18.uab-social-icons .uab-icon-google-plus a {
    background: #df321c;
}

.uab-template-18 .uab-social-icons .uab-icon-tumblr a {
    background: #56bc8a;
}

.uab-template-18 .uab-social-icons .uab-icon-reddit a {
    background: #ff4500;
}

.uab-template-18.uab-social-icons .uab-icon-flickr a {
    background: #1b4978;
}

.uab-template-18 .uab-social-icons .uab-icon-vine a {
    background: #26b387;
}

.uab-template-18 .uab-social-icons .uab-icon-meetup a {
    background: #ed1c40;
}

.uab-template-18 .uab-social-icons .uab-icon-github a {
    background: #6cc644;
}

.uab-template-18 .uab-social-icons .uab-icon-soundcloud a {
    background: #f50;
}

.uab-template-18 .uab-social-icons .uab-icon-vimeo a {
    background: #00b3ec;
}

.uab-template-18 .uab-social-icons .uab-icon-wordpress a {
    background: #2e4453;
}

.uab-template-18 .uab-social-icons .uab-icon-telegram a {
    background: #0088cc;
}

.uab-template-18 .uab-social-icons .uab-icon-spotify a {
    background: #7c25f8;
}

.uab-template-18 .uab-social-icons .uab-icon-snapchat a {
    background: #FFFC00;
    color: #000;
}


.uab-template-18 .uab-social-icons .uab-icon-skype a {
    background: #00aff0;
}


.uab-template-18 .uab-social-icons .uab-icon-whatsapp a {
    background: #00e676;
}

.uab-template-18 .uab-social-icons .uab-icon-dribbble a {
    background: #ea4c89;
}

@media screen and (max-width: 900px) {
    .uab-template-18 .uab-linkedin-profile-wrapper .uab-linkedin-basic .uab-linkedin-general {
        margin-left: 0;
        width: 100%;
    }
}