.uab-template-11 .uab-tabs {
    margin-bottom: 10px;
}

.uab-template-11 .uab-tabs a,
.uab-template-11 .uab-tabs li {
    color: #333;
    padding: 12px 24px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.uab-template-11 .uab-tabs li.uab-current {
    background: #333;
    color: #fff;
}

.uab-template-11 .uab-tab-content {
    background: #000;
    padding: 40px;
}

.uab-template-11 .uab-front-content,
.uab-template-11 .uab-author-profile-pic {
    float: left;
}

.uab-template-11 .uab-author-profile-pic {
    width: 25%;
}

.uab-template-11 .uab-co-author-grid .uab-author-profile-pic {
    float: none;
    width: 100%;
}


.uab-template-11 .uap-profile-image {
    overflow: hidden;
    position: relative;
    width: 291px;
    max-width: 100%;
    max-width: 100%;
}

.uab-template-11 .uab-front-content {
    width: 75%;
    padding-left: 23px;
}

.uab-template-11 .uab-company-info + .uab-display-name {
    margin-top: 8px;
}

.uab-template-11 .uab-display-name {
    margin-bottom: 16px;
}

.uab-template-11 .uab-company-info,
.uab-template-11 .uab-company-info .uab-company-designation,
.uab-template-11 .uab-company-info a {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #d7d7d7;
}

.uab-template-11 .uab-company-info .uab-company-designation,
.uab-template-11 .uab-company-info a {
    display: inline-block;
}

.uab-template-11 .uab-display-name span:not(.uab-user-role),
.uab-template-11 .uab-display-name a {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #d7d7d7;
    text-transform: uppercase;
}

.uab-template-11 .uab-short-contact .uab-contact-inner {
    margin-bottom: 10px;
}

.uab-template-11 .uab-short-contact .uab-contact-inner:last-child {
    margin-bottom: 16px;
}

.uab-template-11 .uab-user-website a,
.uab-template-11 .uab-user-email a,
.uab-template-11 .uab-user-phone a {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #d7d7d7;
}

.uab-template-11 .uab-user-website a {
    text-transform: uppercase;
    text-decoration: underline;
}

.uab-template-11 .uab-social-icons ul li {
    display: inline-block;
    margin: 5px;
}

.uab-template-11 .uab-social-icons ul li a {
    color: #d7d7d7;
    font-size: 20px;
}

.uab-template-11 .uab-num-post-count,
.uab-template-11 .uab-linkedin-basic,
.uab-template-11 .uab-short-info,
.uab-template-11 .uab-short-info a {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #888;
    line-height: 1.7;
}

.uab-template-11 .uab-short-info a:hover {
    color: #fff;
}

.uab-template-11 .uab-display-name span:not(.uab-user-role):hover,
.uab-template-11 .uab-company-info a:hover,
.uab-template-11 .uab-user-website a:hover,
.uab-template-11 .uab-display-name a:hover,
.uab-template-11 .uab-social-icons ul li a:hover,
.uab-template-11 .uab-user-email a:hover,
.uab-template-11 .uab-user-phone a:hover {
    color: #fff;
}

.uab-template-11 .uab-short-info a {
    color: #d7d7d7;
}

.uab-template-11 .uab-short-info a:hover {
    color: #fff;
}

/*template-11 recent post*/

.uab-template-11 .uab-recent-posts ul li {
    margin-top: 30px;
}

.uab-template-11 .uab-recent-posts ul li:nth-of-type(1) {
    margin-top: 0;
}

.uab-template-11 .uab-post-title-wrapper {
    margin-bottom: 9px;
}

.uab-template-11 .uab-post-title-wrapper a {
    font-family: 'Open Sans', sans-serif;
    color: #d7d7d7;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #d7d7d7;
    display: inline-block;
}

.uab-template-11 .uab-post-meta-info {
    margin-bottom: 7px;
}

.uab-template-11 .uap-post-author-name,
.uab-template-11 .uap-post-date {
    display: inline-block;
}

.uab-template-11 .uap-post-author-name {
    margin-right: 10px;
}

.uab-template-11 .uap-post-author-name span,
.uab-template-11 .uap-post-author-name a,
.uab-template-11 .uap-post-date {
    font-family: 'Open Sans', sans-serif;
    color: #d7d7d7;
    font-size: 13px;
    font-weight: 500;
}

.uab-template-11 .uab-post-excerpt-wrapper,
.uab-template-11 .uab-post-excerpt-wrapper p {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #888;
    line-height: 1.5;
}

.uab-template-11 .uab-contact-first-wrapper,
.uab-template-11 .uab-contact-second-wrapper {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.uab-template-11 .uab-contact-first-wrapper {
    padding-right: 13px;
}

.uab-template-11 .uab-contact-second-wrapper {
    padding-left: 13px;
}

.uab-template-11 .uab-field-wrap input[type=text],
.uab-template-11 .uab-field-wrap input[type=email],
.uab-template-11 .uab-field-wrap input[type=tel] {
    height: 39px;
    padding: 0 10px;
}

.uab-template-11 .uab-field-wrap textarea.uab-message-field {
    height: 157px;
    resize: none;
    padding: 10px;
}

.uab-template-11 .uab-field-wrap input[type=text],
.uab-template-11 .uab-field-wrap input[type=email],
.uab-template-11 .uab-field-wrap input[type=tel],
.uab-template-11 .uab-field-wrap textarea.uab-message-field {
    border: 1px solid #daedf8;
    width: 100%;
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-top: 20px;
}

.uab-template-11 .uab-contact-form-submit input[type=submit] {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    background: #333;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    height: 39px;
    line-height: 39px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.uab-template-11 .uab-contact-form-submit input[type=submit]:hover {
    background: #222;
}

.uab-template-11 .uab-field-wrap input::-moz-placeholder,
.uab-template-11 textarea.uab-message-field::-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.uab-template-11 .uab-field-wrap input:-ms-input-placeholder,
.uab-template-11 textarea.uab-message-field:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.uab-template-11 .uab-field-wrap input::-webkit-input-placeholder,
.uab-template-11 textarea.uab-message-field::-webkit-input-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.uab-template-11 .uab-linkedin-company-list span.uab-linkedin-company-name:hover,
.uab-template-11 .uab-co-author-individual .uab-co-author-display-name a:hover,
.uab-template-11 .uab-linkedin-general .uab-linkedin-profile-name a:hover {
    color: #FFF;
}

.uab-template-11 span.uab-co-author-company-link a:hover {
    color: #FFF;
}

.uab-template-11 .uab-co-author-individual .uab-co-author-display-name a,
.uab-template-11 .uab-linkedin-general .uab-linkedin-profile-name a,
.uab-template-11 .uab-linkedin-company-list span.uab-linkedin-company-name {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #d7d7d7;
    text-transform: uppercase;
}

.uab-template-11 .uab-co-author-work span,
.uab-template-11 .uab-co-author-work span a,
.uab-template-11 .uab-linkedin-profile-wrapper .uab-linkedin-profile-headline {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #d7d7d7;
}

.uab-template-11 .uab-co-author-list .uab-co-author-description {
    display: inline-block;
    width: calc(100% - 110px);
    margin-left: 10px;
}

.uab-template-11 .uab-rss-feed-title-wrapper a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #d7d7d7;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #d7d7d7;
}

.uab-template-11 .uab-rss-feed-title-wrapper a:hover {
    color: #888;
}

.uab-template-11 .uab-rss-feed-description-wrapper {
    color: #888;
}

.uab-template-11 .uab-social-temp-wrapper-3 .uab-title-social-wrapper a,
.uab-template-11 .uab-social-temp-wrapper-3 .uab-social-follow a {
    color: #fff;
}


.uab-template-11 .uab-social-temp-wrapper-3 .uab-title-social-wrapper a,
.uab-template-11 .uab-social-temp-wrapper-3 .uab-social-wrapper-second .uab-social-username-wrapper a,
.uab-template-11 .uab-social-temp-wrapper-3 .uab-social-date a,
.uab-template-11 .uab-social-temp-wrapper-3 .uab-social-date {
    color: #fff;
}

.uab-template-11 .uab-social-temp-wrapper-3 .uab-social-content {
    color: #fff;
}

.uab-template-11 .uab_widgets_content h4 {
    color: #fff;
}

.uab-template-11 .uab-co-author-list .uab-co-author-individual:last-child {
    margin-bottom: 0;
}

.uab-template-11 label.uab-co-author-header {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 5px;
}


.uab-template-11 .uab-co-author-grid label.uab-co-author-header {
    padding: 20px;
}

.uab-template-11 .uab-linkedin-profile-wrapper .uab-linkedin-company-list {
    border-top-color: #FFF;
}