.uab-template-17 .uab-tabs {
    margin-bottom: 18px;
}

.uab-template-17 .uab-tabs a,
.uab-template-17 .uab-tabs li {
    padding: 10px;
    border: 3px solid #f5694d;
    color: #f5694c;
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Amatic SC';
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    position: relative;
    min-width: 170px;
    text-align: center;
    background-color: transparent;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uab-template-17 .uab-tabs li.uab-current {
    text-decoration: underline;
}

.uab-template-17 .uab-tabs a:before,
.uab-template-17 .uab-tabs li:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 60px;
    background: #f5694d;
    top: -3px;
    left: 50%;
}

.uab-template-17 .uab-tabs a:after,
.uab-template-17 .uab-tabs li:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 60px;
    background: #fff;
    top: 0px;
    left: 56%;
}

.uab-template-17 .uab-tab-content {
    background: #fff;
    padding: 40px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.uab-template-17 .uab-content-header {
    float: right;
    width: 30%;
}

.uab-template-17 .uab-content-mid {
    width: 70%;
    float: left;
    padding-right: 20px;
}

.uab-template-17 .uap-profile-image {
    width: 277px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.uab-template-17 .uap-profile-image.uap-profile-image-square img,
.uab-template-17 .uap-profile-image.uap-profile-image-circle {
    border: 6px solid #eae2e0;
}

.uab-template-17 .uab-company-info,
.uab-template-17 .uab-company-info span.uab-company-designation,
.uab-template-17 .uab-company-info a {
    font-family: 'Amatic SC';
    font-size: 22px;
    font-weight: 500;
    color: #575959;
    text-transform: uppercase;
    line-height: 1.3;
}

.uab-template-17 .uab-company-info span.uab-company-designation,
.uab-template-17 .uab-company-info a {
    display: inline-block;
}

.uab-template-17 .uab-content-temp-wrapper {
    margin-bottom: 24px;
}

.uab-template-17 .uab-display-name,
.uab-template-17 .uab-social-icons {
    margin-bottom: 2px;
}

.uab-template-17 .uab-display-name {
    float: left;
}

.uab-template-17 .uab-social-icons {
    float: right;
}

.uab-template-17 .uab-display-name span:not(.uab-user-role),
.uab-template-17 .uab-display-name a {
    font-family: 'Amatic SC';
    font-size: 38px;
    font-weight: 600;
    color: #565656;
    text-transform: uppercase;
    line-height: 1.3;
}

.uab-template-17 .uab-social-icons ul li {
    display: inline-block;
    margin-bottom: 3px;
}

.uab-template-17 .uab-social-icons ul li a {
    width: 32px;
    height: 32px;
    color: #fff;
    background: #f5694d;
    line-height: 32px;
    text-align: center;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.uab-template-17 .uab-social-icons ul li a:hover {
    background: #f5694d;
}

.uab-template-17 .uab-short-contact {
    margin-bottom: 17px;
}

.uab-template-17 .uab-contact-inner {
    margin-bottom: 2px;
    margin-right: 38px;
}

.uab-template-17 .uab-contact-inner,
.uab-template-17 .uab-contact-inner .uab-contact-label,
.uab-template-17 .uab-user-website,
.uab-template-17 .uab-user-email,
.uab-template-17 .uab-user-phone {
    display: inline-block;
}

.uab-template-17 .uab-contact-inner .uab-contact-label,
.uab-template-17 .uab-user-website a,
.uab-template-17 .uab-user-email a,
.uab-template-17 .uab-user-phone a {
    font-family: 'Amatic SC';
    font-size: 22px;
    font-weight: 600;
}

.uab-template-17 .uab-contact-inner .uab-contact-label {
    color: #575959;
    margin-right: 12px;
}

.uab-template-17 .uab-short-info a,
.uab-template-17 .uab-user-website a,
.uab-template-17 .uab-user-email a,
.uab-template-17 .uab-user-phone a {
    color: #f5694d;
}

.uab-template-17 .uab-num-post-count,
.uab-template-17 .uab-linkedin-basic,
.uab-template-17 .uab-short-info {
    font-family: 'Amatic SC';
    font-size: 22px;
    font-weight: 600;
    color: #2f2f2f;
    line-height: 1.5;
}

.uab-template-17 .uab-num-post-count {
    font-size: 18px;
}

.uab-template-17 .uab-display-name span:not(.uab-user-role):hover,
.uab-template-17 .uab-company-info a:hover,
.uab-template-17 .uab-display-name a:hover,
.uab-template-17 .uab-user-website a:hover,
.uab-template-17 .uab-user-email a:hover,
.uab-template-17 .uab-user-phone a:hover {
    color: #f5694c;
}

/*recent post*/

.uab-template-17 .uab-recent-posts ul li {
    margin-top: 20px;
}

.uab-template-17 .uab-recent-posts ul li:nth-of-type(1) {
    margin-top: 0;
}

.uab-template-17 .uab-post-first-wrapper,
.uab-template-17 .uab-post-second-wrapper {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.uab-template-17 .uab-post-first-wrapper {
    width: 20%;
}

.uab-template-17 .uab-post-second-wrapper {
    width: 80%;
    padding-left: 5px;
}

.uab-template-17 .uab-recent-posts .uab-post-image {
    width: 138px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 6px solid #eae2e0;
}

.uab-template-17 .uab-recent-posts .uab-post-image:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.uab-template-17 .uab-recent-posts .uab-post-image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.uab-template-17 .uab-post-title-wrapper a {
    font-family: 'Amatic SC';
    font-size: 24px;
    font-weight: 600;
    color: #565656;
    text-transform: uppercase;
    line-height: 1.3;
    display: inline-block;
}

.uab-template-17 .uap-post-author-name,
.uab-template-17 .uap-post-date,
.uab-template-17 .uap-post-author-name a {
    display: inline-block;
    font-family: 'Amatic SC';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3;
}

.uab-template-17 .uap-post-author-name {
    color: #575959;
    margin-right: 22px;
    margin-left: 5px;
}

.uab-template-17 .uap-post-author-name span,
.uab-template-17 .uap-post-author-name a,
.uab-template-17 .uap-post-date {
    font-family: 'Amatic SC';
    color: #f5694d;
}

.uab-template-17 .uap-post-author-name span,
.uab-template-17 .uap-post-author-name a {
    margin-left: 10px;
}

.uab-template-17 .uab-post-title-wrapper a:hover {
    color: #f5694d;
}

.uab-template-17 .uap-post-author-name span:hover,
.uab-template-17 .uap-post-author-name a:hover {
    color: #333;
}

.uab-template-17 .uab-contact-first-wrapper .uab-field-wrap {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
}

.uab-template-17 .uab-field-wrap {
    margin-bottom: 15px;
}

.uab-template-17 .uab-field-wrap label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #888;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.uab-template-17 .uab-contact-first-wrapper .uab-field-wrap:nth-of-type(2n) {
    padding-left: 17px;
}

.uab-template-17 .uab-contact-first-wrapper .uab-field-wrap:nth-of-type(2n+1) {
    padding-right: 17px;
}

.uab-template-17 .uab-field-wrap input[type=text],
.uab-template-17 .uab-field-wrap input[type=email],
.uab-template-17 .uab-field-wrap input[type=tel],
.uab-template-17 .uab-field-wrap textarea.uab-message-field {
    width: 100%;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.uab-template-17 .uab-field-wrap input[type=text],
.uab-template-17 .uab-field-wrap input[type=email],
.uab-template-17 .uab-field-wrap input[type=tel] {
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
}

.uab-template-17 .uab-field-wrap textarea.uab-message-field {
    height: 121px;
    resize: none;
    padding: 10px;
}

.uab-template-17 .uab-contact-form input[type="submit"].uab-contact-submit {
    padding: 12px 25px;
    background: #fd7b5f;
    color: #fff;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.5 ease;
    transition: all 0.5 ease;
}

.uab-template-17 .uap-success-message {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #50a0ce;
    margin-top: 10px;
    text-align: center;
}

.uab-template-17 .uab-linkedin-company-list span.uab-linkedin-company-name:hover,
.uab-template-17 .uab-co-author-individual .uab-co-author-display-name a:hover,
.uab-template-17 .uab-linkedin-general .uab-linkedin-profile-name a:hover {
    color: #f46c50;
}

.uab-template-17 span.uab-co-author-company-link a:hover {
    color: #f46c50;
}

.uab-template-17 .uab-co-author-grid .uab-social-icons {
    float: none;
}

.uab-template-17 .uab-co-author-grid .uab-co-author-work span,
.uab-template-17 .uab-co-author-grid .uab-co-author-work span a {
    font-size: 20px;
}

.uab-template-17 .uab-co-author-individual .uab-co-author-display-name a {
    font-family: 'Amatic SC';
    font-size: 25px;
    font-weight: 600;
    color: #565656;
    text-transform: uppercase;
    line-height: 1.3;
}

.uab-template-17 .uab-linkedin-general .uab-linkedin-profile-name a,
.uab-template-17 .uab-linkedin-company-list span.uab-linkedin-company-name {
    font-weight: 600;
    color: #565656;
    text-transform: uppercase;
    line-height: 1.3;
}

.uab-template-17 .uab-co-author-work span,
.uab-template-17 .uab-co-author-work span a,
.uab-template-17 .uab-linkedin-profile-wrapper .uab-linkedin-profile-headline {
    font-size: 15px;
    font-weight: 500;
    color: #575959;
    text-transform: uppercase;
    line-height: 1.3;
}

.uab-template-17 .uab-co-author-work span,
.uab-template-17 .uab-co-author-work span a {
    font-family: 'Amatic SC';
}

.uab-template-17 .uab-co-author-list .uab-co-author-description {
    display: inline-block;
    width: calc(100% - 115px);
    margin-left: 10px;
    float: right;
}

.uab-template-17 .uab-co-author-list .uab-social-icons {
    float: left;
}

.uab-template-17 .uap-co-author-image,
.uab-template-17 .uab-linkedin-profile-picture img {
    border: 3px solid #eae2e0;
}

.uab-template-17 label.uab-co-author-header {
    color: #f5694c;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Amatic SC';
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    position: relative;
    min-width: 193px;
    display: inline-block;
    text-decoration: underline;
    padding: 10px 5px;
}

.uab-template-17 .uab-linkedin-basic {
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-weight: 500;
    font-size: 18px;
}

.uab-template-17 .uab-linkedin-basic .uab-linkedin-company,
.uab-template-17 .uab-linkedin-basic .uab-linkedin-profile-summary {
    font-size: 16px;
}

.uab-template-17 .uab-linkedin-profile-wrapper .uab-linkedin-profile-summary {
    color: #2f2f2f;
    line-height: 1.5;
}

.uab-template-17.uab-frontend-wrapper .uab-facebook-count {
    background: #f5694d;
}

.uab-template-17.uab-frontend-wrapper .uab-facebook-count i,
.uab-template-17.uab-frontend-wrapper .uab-facebook-count svg {
    color: #f5694d;
}

.uab-template-17 .uab-rss-feed-title-wrapper a:hover {
    color: #34327c;
}

.uab-template-17 .uab-social-icons .uab-icon-odnoklassniki a {
    background: #ff9117;
}

.uab-template-17 .uab-social-icons .uab-icon-vk a {
    background-color: #4c75a3;
}

.uab-template-17 .uab-social-icons .uab-icon-facebook a {
    background: #4c70a5;
}

.uab-template-17 .uab-social-icons .uab-icon-twitter a {
    background: #2cb8e9;
}

.uab-template-17 .uab-social-icons .uab-icon-instagram a {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.uab-template-17 .uab-social-icons .uab-icon-youtube a {
    background: #cc3434;
}

.uab-template-17 .uab-social-icons .uab-icon-linkedin a {
    background: #017eb4;
}

.uab-template-17 .uab-social-icons .uab-icon-pinterest a {
    background: #4267b2;
}

.uab-template-17 .uab-social-icons .uab-icon-google-plus a {
    background: #df321c;
}


.uab-template-17 .uab-social-icons .uab-icon-tumblr a {
    background: #56bc8a;
}


.uab-template-17 .uab-social-icons .uab-icon-reddit a {
    background: #ff4500;
}


.uab-template-17 .uab-social-icons .uab-icon-flickr a {
    background: #1b4978;
}


.uab-template-17 .uab-social-icons .uab-icon-vine a {
    background: #26b387;
}


.uab-template-17 .uab-social-icons .uab-icon-meetup a {
    background: #ed1c40;
}


.uab-template-17 .uab-social-icons .uab-icon-github a {
    background: #6cc644;
}


.uab-template-17 .uab-social-icons .uab-icon-soundcloud a {
    background: #f50;
}


.uab-template-17 .uab-social-icons .uab-icon-vimeo a {
    background: #00b3ec;
}


.uab-template-17 .uab-social-icons .uab-icon-wordpress a {
    background: #2e4453;
}

.uab-template-17 .uab-social-icons .uab-icon-telegram a {
    background: #0088cc;
}

.uab-template-17 .uab-social-icons .uab-icon-spotify a {
    background: #7c25f8;
}

.uab-template-17 .uab-social-icons .uab-icon-snapchat a {
    background: #FFFC00;
    color: #000;
}

.uab-template-17 .uab-social-icons .uab-icon-skype a {
    background: #00aff0;
}

.uab-template-17 .uab-social-icons .uab-icon-whatsapp a {
    background: #00e676;
}

.uab-template-17 .uab-social-icons .uab-icon-dribbble a {
    background: #ea4c89;
}

.uab-template-17 .uab-co-author-grid label.uab-co-author-header {
    display: block;
    padding: 20px 0;
}